		<div id="message_ajax">
			  <%= render :partial => 'layouts/part_message_ajax' %>
		</div>

		<h3 class="toggle_by_ref" data-reference-class='ref_1'>		  		
		  <%="Eléments disponibles et nouveaux éléments".trn%>
		</h3>
		<div class='ref_1'>
			<%if @content_detail.es_content_detail_elements.size < 15 %>
				<p><%="Il y a %{nbr} élément(s) dans cette partie".trn(:nbr => @content_detail.es_content_detail_elements.size)%></p>
			    <%=
			    			link_to("<div class='btn btn-primary'><i class='glyphicon glyphicon-floppy-disk'></i> #{"Sauver la disposition".trn}</div>".html_safe, 
								"#", 
								:confirm =>"Voulez vous vraiment supprimer ce contenu ?".trn,
								:title =>"Supprimer ce contenu".trn, :id => "save_design")
				%>

				<%= render :partial => 'shared/goto_menu_item', :locals => {:text_html => "<i class='glyphicon glyphicon-eye-open'></i> #{(session[:dynamic_content_view_normal] ? "Mode paramétrage" : "Mode réel").trn}",:image => "",:action => "#",:html_option=>{:id => "change_dynamic_content_view", :remote => true, :class => "to_save_before_action btn btn-primary"},:no_div=> true}%>
				<br/>
				<%= render :partial => 'shared/goto_menu_item', :locals => {:text_html => "<i class='glyphicon glyphicon-font'></i> #{"Nouveau texte".trn}",:image => "",:action => "#",:html_option=>{:id => "text", :remote => true, :class => "to_save btn btn-primary"},:no_div=> true}%>
				<%= render :partial => 'shared/goto_menu_item', :locals => {:text_html => "<i class='glyphicon glyphicon-picture'></i> #{"Nouvelle image".trn}",:image => "",:action => "#", :html_option=>{:id => "image", :remote => true, :class => "to_save btn btn-primary"},:no_div=> true}%>
				<%= render :partial => 'shared/goto_menu_item', :locals => {:text_html => "<i class='glyphicon glyphicon-link'></i> #{"Nouveau lien".trn}",:image => "",:action => "#", :html_option=>{:id => "link", :remote => true, :class => "to_save btn btn-primary"},:no_div=> true}%>
				<%= render :partial => 'shared/goto_menu_item', :locals => {:text_html => "<i class='glyphicon glyphicon-facetime-video'></i> #{"Nouvelle vidéo".trn}",:image => "",:action => "#", :html_option=>{:id => "video", :remote => true, :class => "to_save btn btn-primary"},:no_div=> true}%>
				<%= render :partial => 'shared/goto_menu_item', :locals => {:text_html => "<i class='glyphicon glyphicon-pencil'></i> #{"Nouveau contenu libre".trn}",:image => "",:action => "#", :html_option=>{:id => "free", :remote => true, :class => "to_save btn btn-primary"},:no_div=> true}%>
				<%= render :partial => 'shared/goto_menu_item', :locals => {:text_html => "<i class='glyphicon glyphicon-folder-open'></i> #{"Nouveau parent".trn}",:image => "",:action => "#", :html_option=>{:id => "parent", :remote => true, :class => "to_save btn btn-primary"},:no_div=> true}%>
			<%else%>
				<p class='alert alert-info'><%="Vous avez atteint le nombre maximum d'éléments (15) dans un partie".trn%></p>
			<%end%>

			<div id="element_properties">
				  <%= render :partial => 'element_properties' %>
			</div>


			<%= @content_detail.generate_contain_available(session[:dynamic_content_view_normal]) %>

		</div>


		<h3><%="Eléments placées".trn%></h3>
		<%= @content_detail.generate_contain_organised(session[:dynamic_content_view_normal]) %>

<script>
	init_dragdrop_template();
</script>


<script>
	$(document).ready(function() {
		
		$( ".to_save_before_action" ).on('click',function() {
			element = $(this)
			$.ajax({
		        url: "/es_contents/update_dynamic_content_parts/<%=@content_detail.id%>",
		        data: { parts: get_template_parts() },
		        proccessData: false,
		        type: "POST",
		        dataType: 'script'
		    }).done(function() {
				$.ajax({
			        url: "/es_contents/" + element.attr('id') + "/<%=@content_detail.id%>",
			        dataType: 'script'
			    });	  
			});
		   	return false;  			
		});		
		
		$( ".to_save" ).click(function() {
			element = $(this)
			$.ajax({
		        url: "/es_contents/update_dynamic_content_parts/<%=@content_detail.id%>",
		        data: { parts: get_template_parts() },
		        proccessData: false,
		        type: "POST",
		        dataType: 'script'
		    }).done(function() {
				$.ajax({
			        url: "/es_contents/add_element/<%=@content_detail.id%>",
			        data: { element_type: element.attr('id') },
			        dataType: 'script'
			    });	  
			});
		   	return false;  			
		});		
		
		$( ".edit_element" ).click(function() {
			
			ref = $(this).data('reference')
			$.ajax({
		        url: "/es_contents/edit_element_parts/" + ref,
		        dataType: 'script'
		    });
		   	return false;  			
		});		
		
		$( "#save_design" ).click(function() {
			element = $(this)
			$.ajax({
		        url: "/es_contents/update_dynamic_content_parts/<%=@content_detail.id%>",
		        data: { parts: get_template_parts() },
		        proccessData: false,
		        type: "POST",
		        dataType: 'script'
		    });
		   	return false;  			
		});		
	});
</script>
