<%unless @content_detail_element.blank?%>
	<br/>
	<div class="alert alert-info" role="alert">
        <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
		<div>
		    <%=
		    			link_to("<div class='btn btn-primary'><i class='glyphicon glyphicon-remove-sign'></i> #{"Supprimer ce contenu".trn}</div>".html_safe, 
							url_for(:action => "delete_element_parts", :id => @content_detail_element.id), 
							:confirm =>"Voulez vous vraiment supprimer ce contenu ?".trn,
							:title =>"Supprimer ce contenu".trn, :remote => true)
			%>
			
					<%= render :partial => 'shared/goto_menu_item', :locals => {:text_html => "<div class='btn btn-primary'><i class='glyphicon glyphicon-floppy-disk'></i> #{"Sauver ce contenu".trn}</div>", 
																				:action => "#",
																				:no_div => true,
																				:confirm =>"Voulez vous vraiment sauver ce contenu ?".trn,
																				:javascript_function => 'save_properties',
																				:html_option =>{ 
																									:remote => true, 
																									:title =>"Sauver ce contenu".trn,
																									:id => 'btn_save'
																								}
																				}%>						
			
		</div>
		<br/>
		
		<%= errors_for(@content_detail_element) %>
	
		<%= form_tag({ :action => 'update_element_parts'}, { :name => 'properties_form', :id => 'properties_form', :class => 'form-horizontal' }) do%>


				<div class="panel panel-primary">
					<div class="panel-heading"><%="Type".trn%> : <%=@content_detail_element.element_type%></div>
					<div class="panel-body">	
					  <div class="form-group">
					    <label for="content_detail_element_name" class="col-sm-4 control-label"><%="Nom de la partie".trn%> : </label>
						<div class="col-sm-8">
							<%= easy_tag('text',:instance => "content_detail_element", :field => "name") %>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="content_detail_element_description" class="col-sm-4 control-label"><%="Description".trn%> : </label>
						<div class="col-sm-8">
							<%= easy_tag('text',:instance => "content_detail_element", :field => "description") %>
					    </div>
					  </div>
					</div>
				</div>


			  <%=easy_generate_form(EsContentDetailElement.get_properties("EsContentDetailElement#{@content_detail_element.element_type.classify}", @content_detail_element.id,{}))%>
		
		<% end %>
	</div>
<%end%>

<script>
	function save_properties(){
	    // save TinyMCE instances before serialize
		if ($(".tinymce").length) {
	    	tinyMCE.triggerSave();
		}	    
		
		var data = $("#properties_form").serialize();
		$.ajax({
	        url: '/es_contents/update_element_parts/<%=@content_detail_element.blank? ? 0 : @content_detail_element.id%>',
	        data:       data,
	        dataType: 'script',
	    });	    
		return false;
	};
</script>

<%= render "shared/tinymce_script"%>

<script>
	init_datepicker();	
	init_inputmask();	
	$('.filepicker').fileSelector(); /*uniquement si chargé après la page*/	
</script>
