<% @title = "Modification d'un contenu".trn %>

<div class="cadre">
	<h2><%= image_tag("appli/48/setup.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
    <ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/32/arrow_left.png", :action => "list"}%></li>
    </ul>

	<h2><%=@content_detail_text%></h2>
	<%= render :partial => 'tinymce/content' %>
</div>



