<% @title = "Paramétrage d'un module dans un contenu".trn %>



    <h2><%= image_tag('appli/setup_48.png', {:alt => @title, :align => "middle"}) %><%= @title %></h2>
	<ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/save_32.png", :action => "update_setup_module", :id => @contentdetail.id,  :form => "setup_form"}%></li>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/back_32.png", :action => "list"}%></li>
	</ul>

    <h3><%= "Contenu n° %{num} de '%{content}'".trn(:content => @contentdetail.name, :num => @contentdetail.sequence.to_i) %></h3>
    <!--%= "%{controller_name} - %{action_name}".trn(:controller_name => @module_action_name[0],:action_name => @module_action_name[1]) %-->
	<!-- Error messages -->
	<%= errors_for(@contentdetail) %>

	<%= form_tag({ :action => 'update_setup_module', :if => @contentdetail.id}, { :name => 'setup_form' , :class => 'form-horizontal'}) do%>
	
	  <%= render 'form_setup' %>

	<% end %>

