<% @title = "Gestion des sites".trn %>

<div class="center-menu">
    <h2><%= image_tag("appli/48/setup.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
	
<ul>
	<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Nouveau".trn,:image => "appli/32/add.png", :action => "new_site"} %></li>
</ul>
	
	<div class="clearer"></div>	
</div>

<!-- Error messages -->	
<%= errors_for(flash[:errors_destroy], "delete").html_safe if flash[:errors_destroy] %>

<%= form_tag({ :action => 'new' }, { :name => 'list_form'}) do%>
	<!-- Data table -->
	<div id="list_div">
	  <%= render :partial => 'list' %>
	</div>
<% end %>

