<h1><%="Changement de thème".trn%></h1>
<%= form_tag({}, { :name => 'admin_form',:class => 'form-horizontal'}) do%>

	  <div class="form-group">
	    <label for="admin_template" class="col-sm-2 control-label"><%="Thème".trn%> : </label>
		<div class="col-sm-5">
		    <%=  collection_select(:admin, :theme, EsTheme.all.sort_by{|t| t.code}, :code, :code, {:selected => @theme},{ :class => "form-control"}) %>
	    </div>
		<div class="col-sm-3 ">
			<%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn, :action => "save_theme",  :form => "admin_form",:class_btn => 'btn btn-default'}%>
			&nbsp;
			<%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Rafraîchir".trn, :action => "load_themes",:class_btn => 'btn btn-default' }%>
	    </div>	    	    
	    
	  </div>

<% end %>
