<% @title = "Modification d'un site".trn %>

<div class="cadre bg-primary">
	<h2><%= image_tag("appli/48/setup.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
    <ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/32/save_data.png", :action => "update_site",:id =>@site.id,  :form => "element_form"}%></li>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/32/arrow_left.png", :action => "admin_site"}%></li>
    </ul>
	<%= errors_for(@site) %>

	<%= form_tag({ :action => 'update_site'}, { :name => 'element_form', :class => 'form-horizontal' }) do%>
		
		  <%= render :partial => 'form_site' %>
	
	<% end %>
</div>
