<style type="text/css">
	hr {  margin-top: 1px;  margin-bottom: 1px;}
	.form-group {  margin-bottom: 2px;}
</style>


<div id='new_edit_resource' class="property_windows" style="width:75%;">
	<% 
		case @object.class.name
			when "ResAction" 
				title 		= @object.new_record? ? "Nouvelle action pour %{year}" : "Modifier une action pour %{year}"
				tmp_render	= "form_action"
			when "ResResource" 
				title 		= @object.new_record? ? "Nouvelle ressource pour %{year}" : "Modifier une ressource pour %{year}"
				tmp_render	= "form_resource"
			when "ResEval" 
				title 		= @object.new_record? ? "Nouvelle évaluation pour %{year}" : "Modifier une évaluation pour %{year}"
				tmp_render	= "form_eval"
			when "ResCategory" 
				title 		= @object.new_record? ? "Nouvelle description pour %{year}" : "Modifier la description de la catégorie"
				tmp_render	= "form_description"
			else
				title = ""
		end
	
		@title 		= title.trn(:year => @year) 
	%>
	
	<div class="center-menu">
	    <h2><%= @title %></h2>
		<ul>
			<li class="btn btn-default btn_save"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver sans rafraîchir".trn,:image => "appli/32/save_data.png", :action => "create_action", :id => @object.id, :param_goto => {:object_type => @object.class.name,:refresh => "N"},  :form => "edit_resource_form", :remote => true, :html_option => {:id => 'save_tinymce'}}%></li>
			<li class="btn btn-default btn_save"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/32/save_data.png", :action => "create_action", :id => @object.id, :param_goto => {:object_type => @object.class.name},  :form => "edit_resource_form", :remote => true, :html_option => {:id => 'save_tinymce'}}%></li>
			<!--li class="btn btn-default"><!--%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/32/arrow_left.png", :action => "show_resources", :html_option => {:remote => true}}%></li-->
		</ul>
		<div class="clearer"></div>
	</div>
	
	<%= form_tag({}, { :name => 'edit_resource_form', :id => 'edit_resource_form', :class => 'form-horizontal' }) do%>
		
		<!-- Error messages -->
		<%= errors_for(@object) %>
		<%if @object.class.name != 'ResCategory'%>
		    <%= easy_tag('hidden',:instance => "object", :field => "res_category_id") %>
	    	<%= easy_tag('hidden',:instance => "object", :field => "sequence") %>
		<%end%>
		
		<div>
		  	<%= render :partial => tmp_render %>
		</div>
	<% end %>
	
	<div class="center-menu">
		<div class="clearer"></div>
		<ul>
			<li class="btn btn-default btn_save"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver sans rafraîchir".trn,:image => "appli/32/save_data.png", :action => "create_action", :id => @object.id, :param_goto => {:object_type => @object.class.name,:refresh => "N"},  :form => "edit_resource_form", :remote => true, :html_option => {:id => 'save_tinymce'}}%></li>
			<li class="btn btn-default btn_save"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/32/save_data.png", :action => "create_action", :id => @object.id, :param_goto => {:object_type => @object.class.name},  :form => "edit_resource_form", :remote => true, :html_option => {:id => 'save_tinymce'}}%></li>
		</ul>
	</div>

</div>

<script>
	init_one_property('new_edit_resource');
	
	$(document).ready(function() {
		$( ".btn_save" ).click(function() {
			$('#new_edit_resource').hide();
		});	
	});
</script>

