<%

	message_lock = ResResource.get_message_lock
 
 	if !message_lock.blank?
		@title 		= message_lock
	elsif @year.blank?
		@title 		= "Veuillez choisir une année de ressources".trn
	else
		@title 		= "Ressources pour l'année %{year}".trn(:year => @year)
	end	 
%>

<div class="center-menu">
    <h2><%= @title %></h2>
	<ul>
	</ul>
	<div class="clearer"></div>
</div>

<%if message_lock.blank?%>


	<!-- Error messages -->	
	<div id="message_ajax">
		  <%= render :partial => 'layouts/part_message_ajax' %>
	</div>
	
	<%= form_tag({}, { :name => 'resource_form',:id => 'resource_form'}) do%>
	
	
		<div id="resource_filter_div">
		  <%= render :partial => 'resource_filter', :locals => {:year_eval => @year} %>
		</div>
		
		<%if @category > -1%>
			<div id="resource_tool_div">
			  <%= render :partial => 'resource_tool' %>
			</div>
		<%end%>
		
		<%@res_categories.each do |cat|%>
			
			<%if @category == -1%>
				<h4 class="bg-primary eval_title_div" style="text-align: center;"><%=cat.description%></h4>
			<%end%>

			<%if @res_categories.size == 1 || @category == -1%>
				<div id="resource_description_div" class="resource_description_div">
				  <%= render :partial => 'resource_description', :locals => {:category => cat} %>
				</div>
			<%end%>
	
			<%if @category > -1%>
				<div id="resource_action_div" class="resource_action_div">
				  <%= render :partial => 'resource_action', :locals => {:category => cat} %>
				</div>
			<%end%>	
			<%if @res_categories.size == 1 || @category == -1%>
				<div id="resource_eval_div" class="resource_eval_div">
				  <%= render :partial => 'resource_eval', :locals => {:category => cat,:year_eval => @year} %>
				</div>
			<%end%>
	
			<%if @res_categories.size == 1 || @category == -1
				cat.get_eval_years.each do |year|
					if year != @year.to_i %>
						<div id="resource_eval_div" class="resource_eval_div">
						  <%= render :partial => 'resource_eval', :locals => {:category => cat,:year_eval => year} %>
						</div>
					<%end
				end
			end%>
		<%end unless @res_categories.blank?%>
		
	<% end %>
<% end %>

<script>
	init_toggle_by_ref();
	$('#resource_form [title]').tooltip({
	    placement: "top"
    });


	$(document).ready(function() {
		$('.toggle_by_ref').each(function(){
			is_content = false;
			is_table = false;
			$(this).parent().siblings().each(function(){
				$(this).find('TABLE').each(function(){
					is_table = true;
					if ($(this).find('TD').length)
					 is_content = true;
				});
			});
			if (is_table && !is_content)
				$(this).trigger( "click" );
		});
	});



</script>
