
<div class="alert alert-info">
	<span class="toggle_by_ref" data-reference-class='ref_ressource_action_<%=category.id%>'>		  		
	  <%=@year%> - <%=category.description%>
	</span>
	<span style="float:right;"><%=category.responsible_text%></span>
</div>

<div class='ref_ressource_action_<%=category.id%>'>
	<p><big><%="Actions".trn%></big><span style="float:right;">
    	<%if EsUser.role?('admin') || (!current_user.blank? && (category.responsible_a_id = current_user.id || category.responsible_b_id = current_user.id))%>
			<%= link_to("<i class='glyphicon glyphicon-plus'></i>".html_safe, {:action => 'action_insert_end', :id => category.id},{:remote=>true, :title => "Ajouter à la fin".trn})%>
		<%end%>
	</span></p>
	<table cellpadding="4" width="100%" class='table'>
	  <tr>
	    <th><span title='<%="Priorité".trn%>'><%="Pr".trn%></span></th>
	    <th><span title='<%="Statut".trn%>'><%="St".trn%></span></th>
	    <th><%="Description".trn%></th>
	    <th><%="Qui".trn%></th>
	    <th><%="Quand".trn%></th>
	    <th><%="Pour quand".trn%></th>
	    <th><%="Ressource(s)".trn%></th>
	  </tr>
	  <%tmp_actions = category.get_actions(@user)
	    tmp_actions.each do |action|%>
		  <tr class="row_action" data-id="a_<%=action.id%>">
		    <td style="background-color:<%=action.res_priority.color%>;color:#000000;text-align:center;"><span title="<%=action.res_priority.description%>"><%=action.res_priority.code%></span></td>
		    <td style="background-color:<%=action.res_status.color%>;color:#000000;text-align:center;"><span title="<%=action.res_status.description%>"><%=action.res_status.code%></span></td>
		    <td>
		    	<%=truncate(action.description,:length => 60)%>
		    	<%if EsUser.role?('admin') || (!current_user.blank? && (category.responsible_a_id = current_user.id || category.responsible_b_id = current_user.id))%>
			    	<div id="option_action_a_<%=action.id%>_pr" style="display:none;">
				    	<small>
							 <%= link_to("<i class='glyphicon glyphicon-minus'></i>".html_safe, {:action => 'action_priority_down', :id => action.id},{:remote=>true, :title => "Diminuer la priorité".trn}) unless action.res_priority.previous.blank?%>
					    	<span style="background-color:<%=action.res_priority.color%>;color:#000000;text-align:center;" title="<%=action.res_priority.description%>"><%=action.res_priority.code%></span>
							 <%= link_to("<i class='glyphicon glyphicon-plus'></i>".html_safe, {:action => 'action_priority_up', :id => action.id},{:remote=>true, :title => "Augmenter la priorité".trn}) unless action.res_priority.next.blank?%>
				    	</small>
			    	</div>
		    	<%end%>
		    	<%if EsUser.role?('admin') || (!current_user.blank? && (category.responsible_a_id = current_user.id || category.responsible_b_id = current_user.id))%>
			    	<div id="option_action_a_<%=action.id%>_st" style="display:none;">
				    	<small>
				    		<%ResStatus.order('sequence asc').each do |st|%>								 
				    			<%= link_to("<span class='btn' style='background-color:#{st.color};color:#000000;text-align:center;'>#{st.code}</span>".html_safe, {:action => 'action_change_status', :id => action.id, :status_id => st.id},{:remote=>true, :title => st.description}) unless st.id == action.res_status_id %>
				    		<%end%>
				    	</small>
			    	</div>
		    	<%end%>
		    	<div id="option_action_a_<%=action.id%>" style="display:none;">
		    	<%if EsUser.role?('admin') || (!current_user.blank? && (category.responsible_a_id = current_user.id || category.responsible_b_id = current_user.id))%>
					 <%= link_to("<i class='glyphicon glyphicon-plus'></i>".html_safe, {:action => 'action_insert_before', :id => action.id},{:remote=>true, :title => "Insérer avant".trn})%>
					 <%= link_to("<i class='glyphicon glyphicon-pencil'></i>".html_safe, {:action => 'action_edit', :id => action.id},{:remote=>true, :title => "Modifier l'action".trn})%>
					 
					<%if action.res_resources.size == 0%> 
					 <%= link_to("<i class='glyphicon glyphicon-remove'></i>".html_safe, {:action => 'action_delete', :id => action.id},{:remote=>true, :confirm =>"Voulez vous vraiment supprimer cette action ?".trn, :title => "Supprimer l'action".trn})%>
					<%else%> 
					 <!--%= link_to("<i class='glyphicon glyphicon-remove'></i>".html_safe, {:action => 'action_delete', :id => action.id},{:remote=>true, :confirm =>"Voulez vous vraiment supprimer l'action sans ses ressources ?".trn, :title => "Supprimer l'action uniquement".trn})%-->
					 <%= link_to("<i class='glyphicon glyphicon-remove-circle'></i>".html_safe, {:action => 'action_delete_with_resource', :id => action.id},{:remote=>true, :confirm =>"Voulez vous vraiment supprimer l'action et ses ressources ?".trn, :title => "Supprimer l'action et ses ressources".trn})%>
					<%end%> 
	
				    <%if action.sequence > 1%>
						 <%= link_to("<i class='glyphicon glyphicon-arrow-up'></i>".html_safe, {:action => 'action_up', :id => action.id, :user => @user},{:remote=>true, :title => "Déplacer vers le haut".trn})%>
					<%end
					if action.sequence < tmp_actions.count%> 
						 <%= link_to("<i class='glyphicon glyphicon-arrow-down'></i>".html_safe, {:action => 'action_down', :id => action.id, :user => @user},{:remote=>true, :title => "Déplacer vers le bas".trn})%>
					<%end%>
					
				    <%= link_to("<i class='glyphicon glyphicon-copyright-mark'></i>".html_safe, {:action => 'action_copy', :id => action.id, :user => @user},{:remote=>true, :title => "Couper".trn})%>

					<%if !session[:copy_action].presence.blank? && action.res_category == session[:copy_action].res_category%> 
					    <%= link_to("<i class='glyphicon glyphicon-ok'></i>".html_safe, {:action => 'action_paste', :id => action.id, :user => @user},{:remote=>true, :title => "Déplacer '%{elem}' au dessus".trn(:elem => truncate(session[:copy_action].description,:length => 60))})%>
					<%end%>

					
		    	<%end%>
		    	</div>		    	
		    </td>
		    <td><%=action.es_user ? action.es_user.complete_name : '' %></td>
		    <td><%=action.get_start_date%></td>
		    <td><%=action.get_end_date%></td>
		    <td>
		    	<%if EsUser.role?('admin') || (!current_user.blank? && (category.responsible_a_id = current_user.id || category.responsible_b_id = current_user.id))%>
			    	<UL>
			    	<%action.res_resources.order("sequence").each do |r| %>
			    		<li>
							<%= link_to("<i class='glyphicon glyphicon-remove'></i>".html_safe, {:action => 'resource_delete', :id => r.id},{:remote=>true, :confirm =>"Voulez vous vraiment supprimer cette ressource ?".trn, :title => "Supprimer la ressource".trn})%>
							<%if r.es_user_id==@user%>
								<span title= '<%="Ma ressource".trn%>'><%="<i class='glyphicon glyphicon-flag'></i>".html_safe %></span>
							<%end%>
							<%=link_to( truncate("#{r.quantity} - #{r.get_description}", :length => 40), {:action => 'resource_edit', :id => r.id},{:remote=>true, :title => "Modifier cette ressource".trn})%>
			    		</li>
			    	<%end%>
			        </UL>
			    	<span id="option_action_ressource_a_<%=action.id%>" style="display:none;">
						<%= link_to("<i class='glyphicon glyphicon-cog'></i>".html_safe, {:action => 'action_insert_resource', :id => action.id},{:remote=>true, :title => "Créer une ressource attachée à cette action".trn})%>
			    	</span>
		    	<%else%>
		    		<%=action.get_resources_text%>
		    	<%end%>
		    </td>
		  </tr>
	  <%end%>
	</table>
</div>

<div class='ref_ressource_action_<%=category.id%>'>
	<p><big><%="Ressources".trn%></big><span style="float:right;">
		<%if EsUser.role?('admin') || (!current_user.blank? && (category.responsible_a_id = current_user.id || category.responsible_b_id = current_user.id))%>
			<%= link_to("<i class='glyphicon glyphicon-plus'></i>".html_safe, {:action => 'resource_insert_end', :id => category.id},{:remote=>true, :title => "Ajouter à la fin".trn})%>
    	<%end%>
	</span></p>
	<table cellpadding="4" width="100%" class='table'>
	  <tr>
	    <th><span title='<%="Priorité".trn%>'><%="Pr".trn%></span></th>
	    <th><span title='<%="Statut".trn%>'><%="St".trn%></span></th>
	    <th><%="Description".trn%></th>
	    <th><%="Besoin".trn%></th>
	    <th><%="Qui".trn%></th>
	    <th><%="Quand".trn%></th>
	    <th><%="Pour quand".trn%></th>
	  </tr>
	  <%tmp_resources = category.get_resources(@user,true) 
	    tmp_resources.each do |resource|%>
		  <tr class="row_action" data-id="r_<%=resource.id%>">
		    <td style="background-color:<%=resource.res_priority.color%>;color:#000000;text-align:center;"><span title="<%=resource.res_priority.description%>"><%=resource.res_priority.code%></span></td>
		    <td style="background-color:<%=resource.res_status.color%>;color:#000000;text-align:center;"><span title="<%=resource.res_status.description%>"><%=resource.res_status.code%></span></td>
		    <td><%=truncate(resource.get_description,:length => 60)%> - <%=truncate(resource.res_action.description,:length => 40)%>
		    	<%if EsUser.role?('admin') || (!current_user.blank? && (category.responsible_a_id = current_user.id || category.responsible_b_id = current_user.id))%>
			    	<div id="option_action_r_<%=resource.id%>_pr" style="display:none;">
				    	<small>
							 <%= link_to("<i class='glyphicon glyphicon-minus'></i>".html_safe, {:action => 'resource_priority_down', :id => resource.id},{:remote=>true, :title => "Diminuer la priorité".trn}) unless resource.res_priority.previous.blank?%>
							 <span style="background-color:<%=resource.res_priority.color%>;color:#000000;text-align:center;" title="<%=resource.res_priority.description%>"><%=resource.res_priority.code%></span>
							 <%= link_to("<i class='glyphicon glyphicon-plus'></i>".html_safe, {:action => 'resource_priority_up', :id => resource.id},{:remote=>true, :title => "Augmenter la priorité".trn}) unless resource.res_priority.next.blank?%>
				    	</small>
			    	</div>
				<%end%>
		    	<%if EsUser.role?('admin') || (!current_user.blank? && (category.responsible_a_id = current_user.id || category.responsible_b_id = current_user.id))%>
			    	<div id="option_action_r_<%=resource.id%>_st" style="display:none;">
				    	<small>
				    		<%ResStatus.order('sequence asc').each do |st|%>								 
				    			<%= link_to("<span class='btn' style='background-color:#{st.color};color:#000000;text-align:center;'>#{st.code}</span>".html_safe, {:action => 'ressource_change_status', :id => resource.id, :status_id => st.id},{:remote=>true, :title => st.description}) unless st.id == resource.res_status_id %>
				    		<%end%>
				    	</small>
			    	</div>
				<%end%>
		    	<div id="option_action_r_<%=resource.id%>" style="display:none;">
		    	<%if EsUser.role?('admin') || (!current_user.blank? && (category.responsible_a_id = current_user.id || category.responsible_b_id = current_user.id))%>
					 <%= link_to("<i class='glyphicon glyphicon-plus'></i>".html_safe, {:action => 'resource_insert_before', :id => resource.id},{:remote=>true, :title => "Insérer avant".trn})%>
					 <%= link_to("<i class='glyphicon glyphicon-pencil'></i>".html_safe, {:action => 'resource_edit', :id => resource.id},{:remote=>true, :title => "Modifier la ressource".trn})%>
					 <%= link_to("<i class='glyphicon glyphicon-remove'></i>".html_safe, {:action => 'resource_delete', :id => resource.id},{:remote=>true, :confirm =>"Voulez vous vraiment supprimer cette ressource ?".trn, :title => "Supprimer la ressource".trn})%>
				    <%if resource.sequence > 1%>
						 <%= link_to("<i class='glyphicon glyphicon-arrow-up'></i>".html_safe, {:action => 'resource_up', :id => resource.id, :user => @user},{:remote=>true, :title => "Déplacer vers le haut".trn})%>
					<%end
					if resource.sequence < tmp_resources.count%> 
						 <%= link_to("<i class='glyphicon glyphicon-arrow-down'></i>".html_safe, {:action => 'resource_down', :id => resource.id, :user => @user},{:remote=>true, :title => "Déplacer vers le bas".trn})%>
					<%end%>

				    <%= link_to("<i class='glyphicon glyphicon-copyright-mark'></i>".html_safe, {:action => 'resource_copy', :id => resource.id, :user => @user},{:remote=>true, :title => "Couper".trn})%>

					<%if !session[:copy_resource].presence.blank? && resource.res_category == session[:copy_resource].res_category%> 
					    <%= link_to("<i class='glyphicon glyphicon-ok'></i>".html_safe, {:action => 'resource_paste', :id => resource.id, :user => @user},{:remote=>true, :title => "Déplacer '%{elem}' au dessus".trn(:elem => truncate(session[:copy_resource].get_description,:length => 60))})%>
					<%end%>
			   <%end%>
			   </div>
		    </td>
		    <td><%=resource.quantity_text%></td>
		    <td><%=resource.es_user ? resource.es_user.complete_name : '' %></td>
		    <td><%=resource.get_start_date%></td>
		    <td><%=resource.get_end_date%></td>
		  </tr>
	  <%end%>
	</table>
</div>


<script>
	$(document).ready(function() {
		$('.row_action').hover(	  	  
		  function () {
			temp_id = "#option_action_" + $(this).data("id");
		    $(temp_id).show();
			temp_id = "#option_action_ressource_" + $(this).data("id");
		    $(temp_id).show();
			temp_id = "#option_action_" + $(this).data("id") + "_pr";
		    $(temp_id).show();
			temp_id = "#option_action_" + $(this).data("id") + "_st";
		    $(temp_id).show();
		  }, 
		  function () {
			temp_id = "#option_action_" + $(this).data("id");
		    $(temp_id).hide();
			temp_id = "#option_action_ressource_" + $(this).data("id");
		    $(temp_id).hide();
			temp_id = "#option_action_" + $(this).data("id") + "_pr";
		    $(temp_id).hide();
			temp_id = "#option_action_" + $(this).data("id") + "_st";
		    $(temp_id).hide();
		  }
		);	
	});
</script>

