<% 
	@title 		= "Stock des produits pour l'année '%{year}'".trn(:year => @year) 	
	@title += " - " + "Utilisateur '%{user}'".trn(:user => EsUser.find_by_id(@user).complete_name) unless @user == 0
%>

<div class="center-menu">
    <h2><%= @title %></h2>
	<ul>		
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Ajouter un produit".trn,:image => "appli/add_32.png", :action => "product_new", :param_goto => {:needs => @needs}, :remote => true}%></li>
		<%unless @needs%>
			<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Voir les utilisations".trn,:image => "appli/execute_32.png", :action => "show_needs", :param_goto => {:year => @year, :check => 'Y'},  :form => "stock_form", :remote => true}%></li>
		<%else%>
			<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Cacher les utilisations".trn,:image => "appli/execute_32.png", :action => "hide_needs", :param_goto => {:year => @year, :check => 'Y'},  :form => "stock_form", :remote => true}%></li>
		<%end%>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Vérifier".trn,:image => "appli/process_32.png", :action => "save_stock", :param_goto => {:year => @year, :check => 'Y', :needs => @needs},  :form => "stock_form", :remote => true}%></li>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/save_32.png", :action => "save_stock", :param_goto => {:year => @year, :check => 'N', :needs => @needs},  :form => "stock_form", :remote => true}%></li>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/back_32.png", :action => "show_resources", :html_option => {:remote => true}}%></li>
	</ul>
	<div class="clearer"></div>
</div>

<!-- Error messages -->	
<div id="message_ajax">
	  <%= render :partial => 'layouts/part_message_ajax' %>
</div>

<%= form_tag({}, { :name => 'stock_form', :id => 'stock_form', :class => 'form-horizontal' }) do%>

	<!-- Error messages -->
	<%= errors_for(@object) %>
	
<div>
	<table cellpadding="4" width="100%" class='table'>
	  <tr>
	    <th><%="Produit".trn%></th>
	    <th><%="Responsable".trn%></th>
	    <th><%="Stock avant OP".trn%></th>
	    <th><%="Besoin".trn%></th>
	    <th><%="Quantité à acheter".trn%></th>
	    <th><%="Quantité achetée".trn%></th>
	    <th><%="Stock réel".trn%></th>
	    <th><%="Stock après OP".trn%></th>
	    <th><%="Stock restant des ressources".trn%></th>
	  </tr>
	<%@object.res_stocks.where(["res_stocks.es_user_id = ? or 0= ?", @user, @user]).includes(:res_product).order("res_products.name").each do |st|	%>
	  <tr>
	    <td style="background-color:<%=@stock_error.include?(st.id) ? '#FF0000' : ''%>">
			<%=link_to( truncate(st.res_product.name,:length => 40), {:action => 'product_edit', :id => st.id, :needs => @needs},{:remote=>true, :title => "Modifier ce produit".trn})%>
			<%unless st.need_exist?%>
				 <%= link_to("<i class='glyphicon glyphicon-remove'></i>".html_safe, {:action => 'product_delete', :id => st.id, :needs => @needs},{:remote=>true, :confirm =>"Voulez vous vraiment supprimer ce produit ?".trn, :title => "Supprimer ce produit".trn})%>
			<%end%>
	    </td>				    
	    <td>	
			<%= easy_tag('list', :id => "stock_responsible[id_#{st.id}]", :selected_value => @stock_responsible["id_#{st.id}"], :value_list_array => EsUser.order("name asc, firstname asc").map{|u| [u.complete_name,u.id]}, :number_of_line=>1, :include_blank => false, :bootstrap_form => false, :read_only => !EsUser.role?('admin')) %>
	    </td>
	    <td width="100">
			<%= easy_tag('decimal', :mandatory => false, :bootstrap_form => false, :bootstrap_length => false, :id => "stock[id_#{st.id}]", :value => @stock["id_#{st.id}"]) %>
	    </td>
	    <td width="100"><%=st.qty_need%></td>
	    <td width="100"><%=st.qty_to_buy(@stock["id_#{st.id}"],st.qty_need)%></td>
	    <td width="100">
			<%= easy_tag('decimal', :mandatory => false, :bootstrap_form => false, :bootstrap_length => false, :id => "stock_buy[id_#{st.id}]", :value => @stock_buy["id_#{st.id}"]) %>
	    </td>
	    <td><%=st.qty_real(@stock["id_#{st.id}"],@stock_buy["id_#{st.id}"])%></td>
	    <td width="100">
			<%= easy_tag('decimal', :mandatory => false, :bootstrap_form => false, :bootstrap_length => false, :id => "stock_after[id_#{st.id}]", :value => @stock_after["id_#{st.id}"]) %>
	    </td>
	    <td width="100"><%=st.qty_total_not_used%></td>
	  </tr>



		<%if @needs
	        st.res_category.children.each do |c|
	          c.res_resources.each do |r|
	            if r.res_product_id==st.res_product_id%>
				  <tr>
				    <td></td>				    
				    <td><%=r.es_user ? r.es_user.complete_name : ''%></td>				    
				    <td></td>				    
				    <td><%=r.quantity||0%></td>				    
				    <td colspan="5"><%=r.res_action.es_user ? r.res_action.es_user.complete_name : ''%> - <%=truncate(r.res_action.description,:length => 100)%></td>				    
				  </tr>
	          <%end
	          end
	        end
		  end%>





	<%end unless @object.blank?%>

	</table>
</div>
	
<% end %>

<script>
	init_datepicker();	
	init_inputmask();		
</script>
