	<!--%= get_template_part("part_site") %-->
	<div class='container'>
		<%= get_template_part("part_login") %>
	</div>

	<%= get_template_part("part_language") %>
    <div class="container">
      <div class="row">
		<div class="col-md-2">
			<div >
				<%= generate_menu("menu_admin") %>
			</div>
		</div>
		<div class="col-md-10">
			<div>
				<%=substitute_string('[setup.message_admin]')%>
			</div>	
			<%= get_template_part("part_dynamic")%>
		</div>
      </div><!--/row-->
    </div> <!-- /container -->

