
    <!-- Navigation -->
	<%= get_template_part("part_login")%>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
				<%= get_template_part("sub_menu")%>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">
					<%= get_template_part("carousel")%>
                </div>

                <div class="row">
					<%= get_template_part("part_dynamic")%>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
					<%= get_template_part("copyright")%>
                </div>
            </div>
        </footer>

    </div>

