<div class="container">
  <div class="page-header">
  	<%= get_template_part("part_1")%>
  </div>
  <div class="row">
    <div class="col-md-12">
	  	<%= get_template_part("part_2")%>
    </div>
  </div>

  <%= get_template_part("part_3")%>

  <BR>
  	
  <div class="row">
    <div class="col-md-8">
	  	<%= get_template_part("part_dynamic")%>
    </div>
    <div class="col-md-4">
	  	<%= get_template_part("part_4")%>
    </div>
  </div>
</div>