    <div class="navbar navbar-default navbar-fluid-top">
      <div>
        <div class="container">
			<%= get_template_part("part_1")%>
        </div>
      </div>
    </div>


    <div class="container">
	  <%= get_template_part("part_dynamic")%>
      <div class="row">
        <div class="col-md-3">
			<%= get_template_part("part_2")%>
			
        </div><!--/span-->
        <div class="col-md-9">
  	      <div class="alert alert-warning">
			  <%= get_template_part("part_3")%>		    	
	      </div>
	      <div class="row">
	        <div class="col-md-6">
			  <%= get_template_part("part_4")%>		    	
	        </div><!--/span-->
	        <div class="col-md-6">
			  <%= get_template_part("part_5")%>		    	
	        </div>
	      </div><!--/row-->
        </div>
      </div><!--/row-->

      <footer>
		<%= get_template_part("part_6")%>
      </footer>

    </div> <!-- /container -->
