<div class="container-fluid">

  <div class="row">
    <div class="span2">
	  	<%= get_template_part("part_1")%>
    </div>
    <div class="span10">
		<%= get_template_part("part_2")%>
    </div>
  </div>
  <div class="row">
    <div class="span2">
	  	<%= get_template_part("part_3")%>
    </div>
    <div class="span10">
		<%= get_template_part("part_dynamic")%>
		
		<%= get_template_part("part_4")%>
    </div>
  </div>
  <div class="row">
    <div class="span12">
		<div class='text-center'>
		  	<%= get_template_part("part_5")%>
	    </div>	  	
    </div>
  </div>

</div>