	<!-- Barre de navigation -->
	<div class="navbar navbar-default navbar-inverse">
		<div>
			<%= get_template_part("part_1")%>
		</div>
	</div>

    <div class="container">

		<!-- Première ligne de notre grille -->
		<div class="row">
			<div class="col-md-7">
				<%= get_template_part("part_2")%>
			</div>
			<div class="col-md-5">
				<%= get_template_part("part_3")%>
			</div>
		</div>

		<div class="row">
			<%= get_template_part("part_dynamic")%>
		</div>

		<!-- Deuxième ligne -->
		<div class="row">
			<div class="col-md-4">
				<%= get_template_part("part_4")%>
			</div>
			<div class="col-md-4">
				<%= get_template_part("part_5")%>
			</div>
			<div class="col-md-4">
				<%= get_template_part("part_6")%>
			</div>
		</div>

      <footer class='text-center'>
		<%= get_template_part("part_4")%>
      </footer>

    </div> <!-- /container -->
