<div class="container-fluid">
  <div class="page-header">
  	<%= get_template_part("part_1")%>
  </div>
  <div class="row">
    <div class="span12">
	  	<%= get_template_part("part_2")%>
    </div>
  </div>

  <%= get_template_part("part_3")%>

  <BR>
  	
  <div class="row">
    <div class="span8">
	  	<%= get_template_part("part_dynamic")%>
    </div>
    <div class="span4">
	  	<%= get_template_part("part_4")%>
    </div>
  </div>
</div>