    <div class="navbar navbar-default navbar-fluid-top">
      <div>
        <div class="container">
			<%= get_template_part("part_1")%>
        </div>
      </div>
    </div>

    <div class="container">

	  <div class="row">
	    <div class="col-md-12">
			<div class="jumbotron">
				<%= get_template_part("part_2")%>
			</div>
	    </div>
	  </div>

      <div class="row">
        <div class="col-md-9">
			<%= get_template_part("part_dynamic")%>
        </div>
        <div class="col-md-3">
			<%= get_template_part("part_3")%>
        </div><!--/span-->
      </div><!--/row-->

  	  <%= get_template_part("part_4")%>

      <footer class='text-center'>
		<%= get_template_part("part_5")%>
      </footer>

    </div> <!-- /container -->
