    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
			<%= get_template_part("part_1")%>
        </div>
      </div>
    </div>

    <div class="container-fluid">

	  <div class="row-fluid">
	    <div class="span12">
			<div class="hero-unit">
				<%= get_template_part("part_2")%>
			</div>
	    </div>
	  </div>

      <div class="row-fluid">
        <div class="span9">
			<%= get_template_part("part_dynamic")%>
        </div>
        <div class="span3">
			<%= get_template_part("part_3")%>
        </div><!--/span-->
      </div><!--/row-->

  	  <%= get_template_part("part_4")%>

      <footer class='text-center'>
		<%= get_template_part("part_5")%>
      </footer>

    </div> <!-- /container -->
