<% @title = "Gestion des répertoires".trn %>

<div class="center-menu">
    <h2><%= image_tag("appli/setup_48.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
	
<ul>
	<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Exporter".trn,:image => "appli/excel_32.png", :action => "export_csv", :form => "list_form"}%></li>
	<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Nouveau".trn,:image => "appli/new_32.png", :action => "new"} %></li>
</ul>
	
	<!-- Search -->
	<%= render :partial => 'shared/search' %>
	
	<div class="clearer"></div>	
</div>

<!-- Error messages -->	
<%= errors_for(flash[:errors_destroy], "delete").html_safe if flash[:errors_destroy] %>

<%= form_tag({ :action => 'new' }, { :name => 'list_form'}) do%>
	<!-- Data table -->
	<div id="list_div">
	  <%= render :partial => 'list' %>
	</div>
<% end %>

