<% @title = "Modification d'une tâche".trn %>

<div class="cadre bg-primary">
	<h2><%= image_tag("appli/48/setup.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
    <ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/32/save_data.png", :action => "update",:id =>@postit_task.id,  :form => "element_form"}%></li>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/32/arrow_left.png", :controller => (@postit_task.postit_list ? 'postit_lists' : 'postit_tasks') ,:action => (@postit_task.postit_list ? 'link_task' : 'list'), :id => @postit_task.postit_list_id}%></li>
    </ul>
	<%= errors_for(@postit_task) %>

	<%= form_tag({ :action => 'update'}, { :name => 'element_form', :class => 'form-horizontal' }) do%>
		
		  <%= render :partial => 'form' %>
	
	<% end %>
</div>
