<h3 align="left"><%="Table".trn%></h3>	
<div>
		<%if@dyn_export.change_table_available?%>
			<div class="form-group">
				<label class="control-label col-sm-2"><%="Nom de la table".trn%> :</label>
				<div class="controls col-sm-10">
					<%= select("query", "table", ActiveRecord::Base.connection.tables.sort.map{|t|t.upcase},{:include_blank => "", :selected => @dyn_export.get_table}, {:multiple => false, :size => 5 })%>    
					<%= render :partial => 'shared/goto_menu_item', :locals => { :action => "save_table", :id => @dyn_export.id, :form => "details_form", :image => "appli/save_32.png" ,  :text => "Sauver".trn}%>		
				</div>
			</div>
		<%else%>
			<div class="form-group">
				<label class="control-label col-sm-2"><%="Nom de la table".trn%> :</label>
				<div class="controls col-sm-10">
					<%= select("query", "table", ActiveRecord::Base.connection.tables.sort.map{|t|t.upcase},{:include_blank => "", :selected => @dyn_export.get_table},{:multiple => false, :size => 5, :disabled => true})%>    
				</div>
			</div>
		<%end%>
</div>


