<h3 align="left"><%="Liste des champs".trn%></h3>	

	<div class="form-group">
		<label class="control-label col-sm-2" for="select_fields"><%="Champs associés".trn%> :</label>
		<div class="controls col-sm-10">
			<p>
				<%= select("select", "fields", @dyn_export.available_field("FIELDS"),{:include_blank => ""}, {:multiple => true, :size => 5 })%>    
			</p>
			<p>
				<div class='btn'>
					<%= render :partial => 'shared/goto_menu_item', :locals => { :action => "add_select_fields", :id => @dyn_export.id, :form => "details_form", :image => "appli/add_32.png" ,  :text => "Ajouter un champs".trn, :remote => true}%>		
				</div>
			</p>
		</div>
	</div>


<table cellpadding="4" width="100%" class="adminlist">
	<tr>
		<th><%="Séquence".trn%></th>
		<th><%="Nom du champs".trn%></th>
		<th>
			<%="Libellé".trn%>&nbsp;
			<%= render :partial => 'shared/goto_menu_item', :locals => {:no_div=> true, :action => "save_fields", :id => @dyn_export.id, :form => "details_form", :text_html => "<i class='glyphicon glyphicon-floppy-save'></i>".html_safe ,  :text => "", :remote => true}%>		
		</th>
		<th><%="Options".trn%></th>
	</tr>

	<%@dyn_export.dyn_export_details.find(:all, :conditions => {:clause => "FIELDS"}, :order => "sequence asc").each do |list_item|	%>
	<tr class="<%= cycle("row0", "row1") %>">
	    <td><%=list_item.sequence.to_i%></td>
	    <td><%=list_item.name%></td>
	    <%if list_item.active == 'Y' %>
		    <td><%= text_field_tag "fields[label][]",list_item.operator, {:maxlength => 40, :size => 40, :class => 'textbox'} %> </td>
	    <%else%>
		    <td><%=list_item.operator%></td>
	    <%end%>
	    <td>

	  		<%if list_item.sequence.to_i > 1 %>
				<%= link_to("<i class='glyphicon glyphicon-arrow-up'></i>".html_safe, 
							url_for(:action => "move_up", :id => list_item['id'], :page => params[:page]), 
							:title => "Monter".trn, :class => "app_tooltip","data-placement" => "left", :remote => true) %>
	  		<%end%>
	  		<%if list_item.sequence.to_i <  @dyn_export.last_sequence(list_item.clause)%>
				<%= link_to("<i class='glyphicon glyphicon-arrow-down'></i>".html_safe, 
							url_for(:action => "move_down", :id => list_item['id'], :page => params[:page]), 
							:title => "Descendre".trn, :class => "app_tooltip","data-placement" => "left", :remote => true) %>
	  		<%end%>


	    	<%if list_item.active == 'Y'%>
				<%= link_to(	"<i class='glyphicon glyphicon-ok'></i>".html_safe, 
								url_for(:action => "activate_detail", :id => list_item.id),
								{
								 :title => "Désactiver un champs".trn, 
								 :confirm =>"Voulez vous le désactiver ?".trn,
								 :class => "app_tooltip",
								 "data-placement" => "left", :remote => true
								}
							 )%>
	    	<%else%>
				<%= link_to(	"<i class='glyphicon glyphicon-remove'></i>".html_safe, 
								url_for(:action => "activate_detail", :id => list_item.id),
								{
								 :title => "Activer un champs".trn, 
								 :confirm =>"Voulez vous l'activer ?".trn,
								 :class => "app_tooltip",
								 "data-placement" => "left", :remote => true
								}
							 )%>
	    	<%end%>

			<%= link_to(	"<i class='glyphicon glyphicon-remove-circle'></i>".html_safe, 
							url_for(:action => "destroy_detail", :id => list_item.id),
							{
							 :title => "Supprimer un champs".trn, 
							 :confirm =>"Voulez vous le supprimer ?".trn,
							 :class => "app_tooltip",
							 "data-placement" => "left", :remote => true
							}
						 )%>

		</td>
	</tr>
	<%end%>
</table>
