<!--DRAFT_3_1_0_0 - E6406 - 31-MAR-2014 - improvement audit-->
<table width=100%>
   <tr>
   	<th><%="Date".trn%></th>
	<th><%="Utilisateur".trn%></th>
	<th><%="Action".trn%></th>
    <th><%="Type d'objet".trn%></th>
	<th><%="Libellé".trn%></th>
	<th><%="Processus".trn%></th>
	<th><%="Version".trn%></th>
    <th><%="Changement".trn%></th>
  </tr>
  <%= render :partial => 'detail_group', :collection => @detail_groups %>
</table>