<% @title = "Liaison de listes de tâches à une phase".trn %>

<div class="center-menu">
    <h2><%= image_tag("appli/setup_48.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
	
	<ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Liste de phases".trn,:image => "appli/back_32.png", :action => "list"}%></li>
		<%if @postit_phase.postit_process%>
			<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Processus parent".trn,:image => "appli/back_32.png", :controller => "postit_processes", :action => "link_phase", :id => @postit_phase.postit_process_id}%></li>
		<%end%>
	</ul>
	
	<div class="clearer"></div>	
</div>

<h3><%= "Phase".trn %></h3>
<div class="row cadre bg-primary form-horizontal">

	  <div class="form-group">
	    <label for="postit_phase_name" class="col-sm-2 control-label"><%="Nom de la phase".trn%> : </label>
		<div class="col-sm-10">
		  <%= easy_tag('text',:instance => "postit_phase", :field => "name",:read_only => true) %>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="postit_phase_description" class="col-sm-2 control-label"><%="Description".trn%> : </label>
	    <div class="col-sm-10">
		  <%= easy_tag('text',:instance => "postit_phase", :field => "description",:read_only => true) %>
		</div>
	  </div>


</div>

<h3><%= "Listes de tâches".trn %></h3>
<div class="row cadre bg-primary">
	<%= form_tag({ :action => 'save_link_list'}, { :name => 'element_form', :class => 'form-horizontal' }) do%>
		<div class="col-sm-3">
		    <h4><%= "Listes de tâches disponnibles".trn %></h4>
			 <%= easy_tag('list',:instance => "list", :field => "free",:value_list_array => @list_free,:include_blank => false, :selected_value => "0", :number_of_line=>15,:multiple => true) %>
		</div>
		<div class="col-sm-2 text-center">
			<br /><br />
			<%if @postit_phase.status == "NONE" || @postit_phase.postit_lists.size == 0%>
				<%unless @list_free.blank?%>
				    <%= render :partial => 'shared/goto_menu_item', :locals => {:action => "save_link_list", :id => @postit_phase.id, :form => "element_form",:text_html => "<i class='glyphicon glyphicon-chevron-right btn-lg'></i>", :html_option => {:title =>"Ajouter les listes de tâches sélectionnées".trn}}%>
					<br />			
				<%end%>
			    <%= render :partial => 'shared/goto_menu_item', :locals => {:action => "add_link_list", :id => @postit_phase.id,:text_html => "<i class='glyphicon glyphicon-plus btn-lg'></i>", :html_option => {:title =>"Créer une nouvelle liste de tâches pour cette phase".trn}}%>
			<%end%>
		</div>
	<% end %>
		<div class="col-sm-7">
		    <h4><%= "Listes de tâches associées".trn %></h4>
			<div id="list_list_div">
			  <%= render :partial => 'list_list' %>
			</div>
		</div>
</div>
