  <h4><%= field_description "Données obligatoires".trn, true %></h4>

			<%= easy_tag('text_only',{:value => @setup.path.blank? ? '*' : @setup.path, :with_label => "Chemin".trn, :bootstrap_form => true}) %>

			<%= easy_tag('text_only',{:value => @setup.name, :with_label => "Nom".trn, :bootstrap_form => true}) %>


				<%case @setup.type_data
				  when "text"%>
					<%= easy_tag('text', :instance => "setup", :field => "value", :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "long text"%>
					<%= easy_tag('long_text', :instance => "setup", :field => "value", :cols => 80, :rows => 15,:maxlength => 1000, :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "choice"%>
					<%= easy_tag('list', :instance => "setup", :field => "value",:value_list_array => @setup.possible_values.split("|").map {|u| [u, u]},:number_of_line=>5, :include_blank => false, :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "color"%>
					<%= easy_tag('color', :instance => "setup", :field => "value", :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "date_time"%>
					<%= easy_tag('date_time', :instance => "setup", :field => "value", :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "date"%>
					<%= easy_tag('date', :instance => "setup", :field => "value", :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "time"%>
					<%= easy_tag('time', :instance => "setup", :field => "value", :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "image"%>
					<%= easy_tag('image', :instance => "setup", :field => "value", :directory => @setup.possible_values.blank? ? '' : @setup.possible_values, :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "css"%>
					<%= easy_tag('css', :instance => "setup", :field => "value", :directory => @setup.possible_values.blank? ? '' : @setup.possible_values, :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "video"%>
					<%= easy_tag('video', :instance => "setup", :field => "value", :directory => @setup.possible_values.blank? ? '' : @setup.possible_values, :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "decimal", "number", "float"%>
					<%= easy_tag('decimal', :instance => "setup", :field => "value", :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "integer"%>
					<%= easy_tag('integer', :instance => "setup", :field => "value", :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "font"%>
					<%= easy_tag('font', :instance => "setup", :field => "value", :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "directory"%>
					<%= easy_tag('file', :instance => "setup", :field => "value", :option_file => @setup.possible_values.blank? ? '' : @setup.possible_values, :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%when "sound"%>
					<%= easy_tag('sound', :instance => "setup", :field => "value", :directory => @setup.possible_values.blank? ? '' : @setup.possible_values, :mandatory => true, :with_label => "Valeur".trn, :bootstrap_form => true) %>
				<%else%>
					<%= easy_tag('text_only',{:value => @setup.value, :with_label => "Valeur".trn, :bootstrap_form => true}) %>
				<%end%>


<script>
	init_datepicker();	
	init_inputmask();		
</script>
