<!-- Data table header and content -->
<table cellpadding="4" width="100%" class='adminlist'>
  <tr>
    <th width="200">Chemin</th>
	<th><%= sort_link_remote :text => "Nom", :column => "name", :controller =>  "setups", :action => 'list'%></th>
    <th><%= sort_link_remote :text => "Valeur", :column => "value", :controller => "setups", :action => 'list' %></th>
    <th>Type</th>
  </tr>
  <%= render :partial => 'es_setups/list_item', :collection => @setups %>
</table>

<%= will_paginate @setups, :params => params, :previous_label => '<< Précédent', :next_label => 'Suivant >>' %>
<%= page_entries_info @setups, :model => 'prérérence' %>


<%unless @branch.blank?%>
	<script>
		 $('#query').val('');
	</script>
<%end%>
