<% @title = "Préférences".trn %>

<div class="center-menu">
    <h2><%= image_tag("appli/48/setup.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
	
	<ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Exporter".trn,:image => "appli/32/excel.png", :action => "export_csv", :form => "setup_list_form"}%></li>
	</ul>
	
	
	<!-- Search -->
	<%= render :partial => 'shared/search' %>
	
	<div class="clearer"></div>	
</div>

<!-- Error messages -->	
<%= errors_for(flash[:errors_destroy], "delete").html_safe if flash[:errors_destroy] %>

<%= form_tag({ :action => 'new' }, { :name => 'setup_list_form'}) do%>



    <!--button type="button" id="view_hide", class = "btn btn-default" ><%="Choisir une catégorie".trn%></button-->


<div class="col-lg-3">
	<div id="fileTree_element", style="position: static;">
		
	</div>
</div>
<div id="setup_div" class="col-lg-9">
  <%= render :partial => 'list' %>
</div>



<% end %>

<script type="text/javascript">
    $('#fileTree_element').fileTree({ root: '', script: '/es_setups/contenttree' }, function(branch) {
		$.ajax('/es_setups/viewtree', {
		    data: { branch: branch}
		});
    });
        
//	$(document ).on('click','#view_hide', function() {
//		$('#fileTree_element').toggle();
//	});
//	$('#fileTree_element').mouseleave(function(ev) {
//        ev.preventDefault();
//        $('#fileTree_element').hide();
//        return false;
//	});
	//$('#fileTree_element').hide();
        
        
</script>
