  <%tmp_readonly = params[:action]=='show' || (@setup_controller[:readonly_exists] && @instance["read_only"]=='Y')
    if @setup_controller[:mandatory_exists] && !tmp_readonly%>
	  <h4><%= field_description "Données obligatoires".trn, true %></h4>
  <%end%>

  <%if @instance.respond_to?('model_type')%>
    <%=hidden_field(:instance, :model_type,:value => @instance.class.name)%>
  <%end%>


	<%@columns_screen.each do |column|
		display = column["display_#{params[:action]}".to_sym]
		value_field = @instance.respond_to?(column[:name]) ? @instance.send(column[:name]) : ""
		if (display.nil? ? true : display) && column[:name].split('.').count==1%>

			<%if column[:name] == 'sequence'%>
				<%= easy_tag('text', :read_only => true, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true) %>
			<%elsif column[:name] == 'parent_id'%>
				<%= easy_tag('hidden', :instance => "instance", :field => column[:name], :value => (@parent.blank? ? 0 : @parent.id)) %>
				<%= easy_tag('text', :value => (@parent.blank? ? "Origine" : @parent[@setup_controller[:parent_column_name]]), :style => "width:inherit;", :read_only => true, :instance => "dummy", :field => 'parent', :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true) %>
    		<%else%>
			  <% case column[:type]%>
		      <% when "info" %>
				<%= easy_tag('text_only', :value => column[:info]||'', :with_label => "[EMPTY]", :bootstrap_form => true) %>
		      <% when "separate" %>
	  		  	<hr/>
		      <% when "integer" %>
			        <% if column[:foreign] 
		             	 column_class = Object.const_defined?(column[:model_linked]) ? column[:model_linked].constantize : nil
			        	 proc_name = "get_list_for_" + column[:name]
			        	 if @instance.class.respond_to?(proc_name)
			               tmp_collection = @instance.class.send(proc_name)
			        	 else	 
			               tmp_collection = column_class.all
			             end
			             column_name = nil
			             unless column_class.nil?
				             column_name = column[:model_linked_field] if column_name.nil? && column_class.new.respond_to?(column[:model_linked_field])		             
				             column_name = "id" if column_name.nil? && column_class.new.respond_to?("id") 
			             end		             
			             unless column_name.nil?
			             %>
						<%= easy_tag('list_collection', :collection => tmp_collection, :value_method => :id, :text_method => column_name.to_sym, :include_blank => !column[:mandatory], :read_only => (tmp_readonly ? "disabled" : false), :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
			          <% else %>
						<%= easy_tag('integer', :read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
			          <% end %>
			        <% else %>
						<%= easy_tag('integer', :read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
			        <% end %>
		      <% when "list" 
		      		if !column[:value_list].blank?
		      			value_list = column[:value_list].split(",")
		      		elsif !column[:value_list_method].blank? && @instance.respond_to?(column[:value_list_method])
		      			value_list = @instance.send(column[:value_list_method])
		      		else
		      			value_list = []
		      		end
		      	%>
				<%= easy_tag('list', :value_list_array => value_list, :include_blank => true, :read_only => (tmp_readonly ? "disabled" : false), :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
		      <% when "list_group" 
		      		if !column[:value_list].blank?
		      			value_list = column[:value_list]
		      		elsif !column[:value_list_method].blank? && @instance.respond_to?(column[:value_list_method])
		      			value_list = @instance.send(column[:value_list_method])
		      		else
		      			value_list = []
		      		end
		      	%>
				<%= easy_tag('list', :value_list_array => grouped_options_for_select(value_list,value_field), :include_blank => true, :read_only => (tmp_readonly ? "disabled" : false), :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
		      <% when "association" %>
		       <%
		             column_class = ( column[:model_linked].present? && Object.const_defined?(column[:model_linked])) ? column[:model_linked].constantize : nil
		        	 proc_name = "get_list_for_" + column[:name]
		        	 if @instance.class.respond_to?(proc_name)
		               tmp_collection = @instance.class.send(proc_name)
		        	 else	 
		               tmp_collection = column_class.all
		             end
		             column_name = nil
		             unless column_class.nil?
			             column_name = column[:model_linked_field] if column[:model_linked_field].present? && column_name.nil? && column_class.new.respond_to?(column[:model_linked_field])		             
			             column_name = "id" if column_name.nil? && column_class.new.respond_to?("id") 
		             end		             
		      	 if !column_class.nil? && !column_name.nil?
		      %>
				  <%= easy_tag('list_collection', :number_of_line => 4, :collection => tmp_collection, :value_method => :id, :text_method => column_name.to_sym, :include_blank => false, :multiple => "multiple", :read_only => (tmp_readonly ? "disabled" : false), :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
		      <% end
		         when "list_multi" %>
				<%= easy_tag('list', :number_of_line => 4, :value_list_array => column[:value_list].split(","), :selected_value => (value_field.presence||'').split(","), :include_blank => false,:multiple=>true, :read_only => (tmp_readonly ? "disabled" : false), :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
		      <% when "float", "decimal" %>
				<%= easy_tag('decimal', :read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
			  <% when "string" 
			  
			  		if column[:value_list].blank?%>
						<%= easy_tag('text', :size=>column[:length_field], :maxlength=>column[:length_value], :style => "width:inherit;", :read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
					<%else%>	  
						<%= easy_tag('list', :number_of_line => 1, :value_list_array => column[:value_list].split(","), :include_blank => true, :style => "width:inherit;", :read_only => (tmp_readonly ? "disabled" : false), :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
					<%end%>	  
			  <% when "text" %>
				<%= easy_tag('long_text',:rows=>5, :read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
			  <% when "color" %>
				<%= easy_tag('color',:read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
			  <% when "list_free" %>
				<%= easy_tag('long_text',:rows=>5, :value=>(value_field||'').gsub(',',"\r"), :read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
		      <% when "datetime" %>
				<%= easy_tag('date_time', :read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true) %>
		      <% when "date" %>
				<%= easy_tag('date', :read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true) %>
		      <% when "time" %>
				<%= easy_tag('time', :read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true) %>
		      <% when "boolean" %>
				<%= easy_tag('check_box', :checked_value => column[:checked_value]||"1", :unchecked_value => column[:unchecked_value]||"0", :read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
			  <% when "file"%>
			  	<%if column[:option_file].blank?%>
					<%= easy_tag('text', :size=>column[:length_field], :read_only => tmp_readonly, :instance => "instance", :field => column[:name], :mandatory => column[:mandatory] && !tmp_readonly, :with_label => column[:column_name], :bootstrap_form => true, :help_text => column[:column_text]) %>
				<%else%>
	            	<%= easy_tag('file', :size=>column[:length_field], :instance => "instance", :field => column[:name],:value=> value_field, :read_only=> tmp_readonly, :option_file => column[:option_file],:with_label => column[:column_name], :class => "window_fixed", :bootstrap_form => true, :help_text => column[:column_text]) %>
				<%end%>
			  <% when "link"%>
            	<%= easy_tag('link',:instance => "instance", :field => column[:name],:value=> value_field, :read_only=> tmp_readonly) %>
		      <% else %>
				<%= easy_tag('text_only', :value => value_field, :with_label => column[:column_name], :bootstrap_form => true) %>
		      <% end %>		
	    	  
    		<%end%>

	  <%end
     end%>
  
<script>
	init_datepicker();	
	init_inputmask();		
	$('.linkpicker').linkPicker();
	$('.filepicker').fileSelector();
	$('.colorpicker').colorPicker();	
</script>  
