<%
tmp_class = @controller_setup[:table_field_active] ? (list_item[:active]== 'Y' ? "" : "inactive_row") : cycle("row0", "row1")
tmp_update = !(@controller_setup[:table_field_active] && list_item[:active]== 'N')
%>

<tr class="<%= tmp_class %>">
	<%if !@controller_setup[:table_field_active] && @controller_setup[:delete_multi]%>
		<td><%= (@controller_setup[:readonly_exists] && list_item["read_only"]=='Y') ? "" : check_box_tag("cid[]", list_item.id, false, { :id => "cb" + list_item_counter.to_s }) %></td>
	<%end%>


    <%if @controller_setup[:parent_exists] %>
		<td>
			<%if tmp_update%>
				<%if list_item.children.count==0%>
					<%= link_to "<i class='glyphicon glyphicon-plus-sign'></i>".html_safe,  {:action => 'new', :parent_id => list_item.id}, {:title => "Créer un enfant"} %>
				<%else%>
					<%= link_to "<i class='glyphicon glyphicon-indent-left'></i>".html_safe,  {:action => 'list', :parent_id => list_item.id}, {:title => "Afficher #{@controller_setup[:column_name_exists] ? list_item.name : 'l''enfant'}"} %>
				<%end%>
			<%end%>
		</td>  
    <%end%>


	<%@columns_screen.each do |column|
		if column[:display_list]
			tmp_value = list_item.multi_send(column[:name])
			tmp_value = "/" if tmp_value.blank?
			tmp_value = tmp_value.limit(50,column[:type]) if ["text","list_free","list_multi"].include?(column[:type]) 		
			if column[:link_update] && tmp_update				
				tmp_value= link_to tmp_value,  :action => 'edit', :id => list_item.id unless (@controller_setup[:readonly_exists] && list_item["read_only"]=='Y')
			elsif column[:name] == 'sequence'
				tmp_value = tmp_value.to_s
				if !@parent.blank? && tmp_update 
				    if list_item.sequence > 1
						 tmp_value+=link_to("<i class='glyphicon glyphicon-arrow-up'></i>".html_safe,  :action => 'up', :id => list_item.id)
					end
					if list_item.sequence < @parent.children.count 
						 tmp_value+=link_to("<i class='glyphicon glyphicon-arrow-down'></i>".html_safe,  :action => 'down', :id => list_item.id)
					end
				end
			elsif column[:foreign] 
				unless tmp_value.blank?
					tmp_model_link = list_item.send(column[:name][0..-4])
					unless tmp_model_link.nil?
						tmp_value = tmp_model_link.class.column_names.include?(column[:model_linked_field]) ? tmp_model_link[column[:model_linked_field]] : tmp_model_link.id
						if column[:name] != "parent_id" && tmp_update && column[:linked_to_model]				
							tmp_value = link_to tmp_value, :controller => column[:linked_name].pluralize, :action => 'edit', :id => list_item.send(column[:name])
					    end
				    end
				end
			elsif !tmp_value.blank? && column[:type]=="datetime" 
				 tmp_value = tmp_value.strftime("%d/%m/%Y %H:%M:%S") 
			elsif !tmp_value.blank? && column[:type]=="date" 
				 tmp_value = tmp_value.strftime("%d/%m/%Y") 
			elsif !tmp_value.blank? && column[:type]=="time" 
				 tmp_value = tmp_value.strftime("%H:%M:%S")  
			elsif !tmp_value.blank? && column[:type]=="boolean"
				unless column[:name]=='active'
					tmp_value = tmp_value==column[:checked_value] ? "<i class='glyphicon glyphicon-ok'></i>".html_safe : ""
				end				
			end						
			%>

			

			<td><%= (tmp_value.to_s||"").html_safe %></td>				

		<%end
	  end%>
	<td>
		<%tmp_value = link_to("<i class='glyphicon glyphicon-book'></i>".html_safe, 
							url_for(:action => "show", :id => list_item['id']),
							:title =>"Visualiser")%>
		<%= (tmp_value.to_s||"").html_safe %>
		<%
		unless (@controller_setup[:readonly_exists] && list_item["read_only"]=='Y')
			if !@controller_setup[:delete_multi] || @controller_setup[:table_field_active]
				if  @controller_setup[:table_field_active]
					tmp_value = list_item[:active]
					tmp_value = link_to(tmp_value=='Y' ? "<i class='glyphicon glyphicon-ok-sign'></i>".html_safe : "<i class='glyphicon glyphicon-remove-sign'></i>".html_safe, 
										url_for(:action => "activate", :id => list_item['id'], :page => params[:page]), 
										:confirm =>"Voulez vous vraiment #{(tmp_value=='Y' ? 'désactiver/supprimer' : 'activer')} '#{@controller_setup[:instance_name].downcase}' ?",
										:title => (tmp_value=='Y' ? "Désactiver" : "Activer")) 
				else
					tmp_value = link_to("<i class='glyphicon glyphicon-remove-sign'></i>".html_safe, 
										url_for(:action => "destroy", :id => list_item['id']), 
										:confirm =>"Voulez vous vraiment supprimer '#{@controller_setup[:instance_name].downcase}' ?",
										:title =>"Supprimer")
				end
		%>

				<%= (tmp_value.to_s||"").html_safe %>		

		    <%end
		  end%>

	</td>				

</tr>
