<%if @setup_controller[:parent_exists] %>
	<div>
		<p>
			<%=@parent_info%>
			<%tmp_parent_id = @parent ? @parent.id : 0%>
			<%if label = cb_exist?(@setup_controller[:model].to_s)%>
				<%= link_to "<i class='fa fa-paste'></i>".html_safe,  {:action => 'paste_item', :copy_to_id => tmp_parent_id, :model_name => @setup_controller[:model].to_s}, {:remote => true, :title => "Coller '%{name}' à cet endroit".trn(:name => label)} %>
				<%= link_to "<i class='fa fa-close'></i>".html_safe,  {:action => 'cancel_copy_item', :model_name => @setup_controller[:model].to_s}, {:remote => true, :title => "Annuler la copie de '%{name}'".trn(:name => label)} %>
			<%end%>
		<p>
		<%=generate_breadcrumb(*@breadcrumb).html_safe%>
	</div>
<%end%>

<table cellpadding="4" width="100%" class='table'>
  <tr>
	<%if !@setup_controller[:table_field_active] && @setup_controller[:delete_multi]%>
	    <th width="1"><%= check_box_tag("toggle_it", "", false, {:onclick => "checkAll('list_form');"}) %></th>
    <%end%>
    
    <%if @setup_controller[:parent_exists] %>
    	<th></th> <!--%="Enfants".trn%-->
    <%end%>

    <%@columns_screen.each do |column|
    	if column[:display_list]%>
			<%unless column[:name] == 'sequence' && @parent.blank?%>
				<%if column[:sort]
					if column[:foreign] && column[:name]!="parent_id"
					  tmp_model_link = column[:name][0..-4].classify.constantize
				      tmp_sort_field = column[:name][0..-4] + "." + (tmp_model_link.column_names.include?("name") ? "name" : "id")
					else
 					  tmp_sort_field = column[:name]
					end
				%>
					<th><%= sort_link_remote :text => column[:column_name], :column => tmp_sort_field, :action => 'list'%></th>
				<%else%>
					<th><%= column[:column_name]%></th>
				<%end%>
			<%else%>
				<th><%= column[:column_name]%></th>
		    <%end%>		
    <%	end
     end%>
     <th><%="Options".trn%></th> 
  </tr>
  <%if @setup_controller[:dynamic_filter_exists] %>
    <%= render :partial => "shared/dynamic/dynamic_filter"%> 
  <%end%>
  
  <%= render :partial => 'shared/dynamic/list_item', :collection => @instances %>
</table>
<%
	params[:action]="list"
	params[:id]=nil
%>
<%= will_paginate @instances, :params => params, :previous_label => '<< ' + 'Précédent'.trn, :next_label => 'Suivant'.trn + ' >>' %>
<%= page_entries_info @instances, :model => @setup_controller[:instance_name] %>
