
<% @title = "Modification d'un élément '%{element}'".trn(:element =>@setup_controller[:instance_name]) %>
<h2><%=@title%></h2>


<%= form_tag({}, { :name => 'update_form', :class => 'form-horizontal' }) do%>

	<ul>
		<%unless (@setup_controller[:readonly_exists] && @instance["read_only"]=='Y')%>
			<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/save_32.png", :action => "update", :id => @instance.id,  :form => "update_form"}%></li>
		<%end%>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:back => true, :text => "Retour".trn,:image => "appli/back_32.png", :action => "list", :param_goto => {:parent_id => (@parent.blank? ? "" : @parent.id)}}%></li>
	</ul>
	<!-- Error messages -->
	<%= errors_for(@instance) %>
	
	<div>
	  <%= render 'shared/dynamic/form' %>
	</div>

<% end %>

