<!--DRAFT_3_1_0_0 - E6406 - 05.02.2014 - Dynamic crud-->
<% @title = @link_to[:title] %>
<h2><%=@title%></h2>
<%unless @link_to[:description].blank? %>
	<h3><%=@link_to[:description]%></h3>
<%end%>


<%= form_tag({ :action => 'link_with' }, { :name => 'link_form',:id => 'link_form'}) do%>
  <div class="row">
	<div class="col-md-6 ">
		<h4><%=@link_to[:title_left]%></h4> 
		
		<%= render :partial => 'shared/dynamic/link_to' %>
		
	</div>
	<div class="col-md-6">
		<%if @link_to[:association_type]!='NA' && !@model_link.blank? %>
			<h4><%=@link_to[:title_right]%></h4>
			<BR>
			<span class="help-block">
				<%=@link_to[:model_name]%> '<%=@model_link[@link_to[:column].split(',')[0]]%>' : 
			</span>
			<%= render :partial => 'shared/dynamic/link_to_model' %>
			<br>
			<%unless @controller_setup[:readonly_exists] && @model_link["read_only"]=='Y'%>
				<div class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/save_32.png", :action => "link_to_model", :id => @model_link.id,:form => "link_form", :param_goto => {:link => @link_to[:model_linked].name}}%></div>
			<%end%>
		<%elsif @model_link.blank?%>
			<%=("Selectionnez un '%{model_name}' pour choisir un " + ( ['has_and_belongs_to_many','has_many'].include?(@link_to[:association_type]) ? ' ou plusieurs' : '') + " '%{model_name_linked}'").trn(:model_name => @link_to[:model_name], :model_name_linked => @link_to[:model_name_linked])%>			 
		<%end%>
	</div>
  </div><!--/row-->
<% end %>

