<% 
	@title = @setup_controller[:instance_name]
	titre = Rails.env.downcase == 'development' ? link_to(@title,  {:action => 'show_setup'}, :target=>"_blank") : @title 
%>

<div>
    <h2><%= titre %></h2>
	
	<ul>		
		<%if @setup_controller[:option_export]%>
			<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Rapport".trn,:image => "appli/pdf_32.png", :action => "export_pdf_dyn", :form => "list_form"}%></li>
			<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Exporter".trn,:image => "appli/excel_32.png", :action => "export_csv_dyn", :form => "list_form"}%></li>
		<%end%>
		<%if !@setup_controller[:table_field_active] && @setup_controller[:delete_multi]%>
			<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Effacer".trn,:image => "appli/delete_32.png", :action => "destroy", :form => "list_form", :checkbox => "true", :check => "true"}%></li>
		<%end%>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Nouveau".trn,:image => "appli/new_32.png", :action => "new", :param_goto => {:parent_id => (@parent.blank? ? 0 : @parent.id)}} %></li>
	</ul>
	

	<%= render :partial => 'shared/dynamic/search_group' %>

	
	<div class="clearer"></div>	
</div>

<!-- Error messages -->	
<%= errors_for(flash[:errors_destroy], "delete") if flash[:errors_destroy] %>




<%= form_tag({ :action => 'list' }, { :name => 'list_form',:id => 'list_form'}) do%>
<!-- Data table -->

<div id="dynamic_list_div">
  <%= render :partial => 'shared/dynamic/list' %>
</div>



<% end %>

