	  <%
	    complete = params[:action] == 'new' || params[:action] == 'create_complete'
	    admin = params[:action] == 'edit' || params[:action] == 'update'
	  %>
	  
	  <%unless complete%>	
	      <H2><%=@user.mail%></H2>
	  <%end%>

      <%if admin%>	
      	  <%unless @user.mail == EsUser.current_user.mail%>
		    <div class="form-group">
		      <label for="roles_es_role_ids" class="col-sm-4 control-label"><%="Rôles à assigner".trn%> : </label>
			  <div class="col-sm-8">
		      	<%= select("user", :es_role_ids, @roles.map {|u| [u.description, u.id]}, {}, :multiple => "multiple", :size => 3, :class => "form-control") %>
			  </div>
  			</div>
        	<%if @user.active.length == 1%>
		      <div class="form-group">
			    <label for="user_active" class="col-sm-4 control-label"><%="Activé".trn%> : </label>
			    <div class="col-sm-1">
			    	<div class=''>			    		
					    <%= check_box "user", "active", {:class => "form-control"}, "Y", "N" %>
					</div>
				</div>
			    <div class="col-sm-6">
			    	<p class="form-control-static"><%=("(" + "Un mail sera envoyé si vous l'activez".trn + ")") if @user.active == "Y"%></p>
				</div>
  			  </div>
  		    <%end%>
		  <%end%>
	  	  <%if @user.active.length == 1%>
		    <div class="form-group">
			    <label for="user_password1" class="col-sm-4 control-label"><%="Nouveau mot de passe".trn%> : </label>
				<div class="col-sm-4">
					<%= password_field "user", "password1", :maxlength => 12, :class => "form-control" %>
				</div>
  			</div>
		    <div class="form-group">
			    <label for="user_password2" class="col-sm-4 control-label"><%="Validation".trn%> : </label>
				<div class="col-sm-4">
					<%= password_field "user", "password2", :maxlength => 12, :class => "form-control" %>
				</div>
  			</div>
		  <%end%>		
	  <%end%>		


	  <h4><%= field_description "Données obligatoires", true %></h4>
	  <div class="form-group">
	    <label for="user_pseudo" class="col-sm-4 control-label"><%="Speudo".trn%> : </label>
		<div class="col-sm-8">
			<%= text_field "user", "pseudo", :maxlength => 60, :class => "form-control" %>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="user_name" class="col-sm-4 control-label"><%= field_description "", true %> <%="Nom".trn%> : </label>
	    <div class="col-sm-7">
			<%= text_field "user", "name", :maxlength => 60, :class => "form-control" %>
		</div>
		
	  </div>
	  <div class="form-group">
	    <label for="user_firstname" class="col-sm-4 control-label"><%= field_description "", true %> <%="Prénom".trn%> : </label>
	    <div class="col-sm-7">
			<%= text_field "user", "firstname", :maxlength => 60, :class => "form-control" %>
		</div>
	  </div>
	  <%if complete%>	
		  <div class="form-group">
		    <label for="user_mail" class="col-sm-4 control-label"><%= field_description "", true %> <%="E-mail".trn%> : </label>
		    <div class="col-sm-7">
				<%= email_field "user", "mail", :maxlength => 60, :class => "form-control" %>
			</div>
		  </div>
		  <div class="form-group">
		    <label for="user_password1" class="col-sm-4 control-label"><%= field_description "", true %> <%="Mot de passe".trn%> : </label>
		    <div class="col-sm-4">
				<%= password_field "user", "password1", :maxlength => 12, :class => "form-control" %>
			</div>
		  </div>
		  <div class="form-group">
		    <label for="user_password2" class="col-sm-4 control-label"><%= field_description "", true %> <%="Validation".trn%> : </label>
		    <div class="col-sm-4">
				<%= password_field "user", "password2", :maxlength => 12, :class => "form-control" %>
			</div>
		  </div>
	  <%end%>		
	  <div class="form-group">
	    <label for="user_address1" class="col-sm-4 control-label"><%="Adresse".trn%> : </label>
	    <div class="col-sm-8">
			<%= text_field "user", "address1", :maxlength => 60, :class => "form-control" %>
		</div>
	  </div>
	  <div class="form-group">
	    <label for="user_address2" class="col-sm-4 control-label"><%="Adresse (suite)".trn%> : </label>
	    <div class="col-sm-8">
			<%= text_field "user", "address2", :maxlength => 60, :class => "form-control" %>
		</div>
	  </div>
	  <div class="form-group">
	    <label for="user_zip" class="col-sm-4 control-label"><%="Code postal".trn%> : </label>
	    <div class="col-sm-4">
			<%= text_field "user", "zip", :maxlength => 10, :class => "form-control" %>
		</div>
	  </div>
	  <div class="form-group">
	    <label for="user_city" class="col-sm-4 control-label"><%="Localité".trn%> : </label>
	    <div class="col-sm-8">
			<%= text_field "user", "city", :maxlength => 30, :class => "form-control" %>
		</div>
	  </div>
	  <div class="form-group">
	    <label for="user_country" class="col-sm-4 control-label"><%="Pays".trn%> : </label>
	    <div class="col-sm-8">
			<%= text_field "user", "country", :maxlength => 30, :class => "form-control" %>
		</div>
	  </div>
	  <div class="form-group">
	    <label for="user_tel" class="col-sm-4 control-label"><%="Téléphone".trn%> : </label>
	    <div class="col-sm-5">
			<%= text_field "user", "tel", :maxlength => 20, :class => "form-control" %>
		</div>
	  </div>
	  <div class="form-group">
	    <label for="user_gsm" class="col-sm-4 control-label"><%="GSM".trn%> : </label>
	    <div class="col-sm-5">
			<%= text_field "user", "gsm", :maxlength => 20, :class => "form-control" %>
		</div>
	  </div>
