<% @title = "Modification d'un utilisateur".trn %>

<div class="cadre bg-primary">
    <h2><%= image_tag('appli/48/user.png', {:alt => @title, :align => "middle"}) %><%= @title %></h2>
	<ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/32/save_data.png", :action => "update", :id => @user.id,  :form => "user_form"}%></li>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/32/arrow_left.png", :action => "list"}%></li>
	</ul>

	<%= errors_for(@user) %>

	<%= form_tag({}, { :name => 'user_form', :class => 'form-horizontal' }) do%>
		
	  <%= render 'form'%>
	
	<% end %>
</div>

