<% @title = "Modification d'un utilisateur" %>

<div class="jumbotron">
    <h2><%= image_tag('appli/user_48.png', {:alt => @title, :align => "middle"}) %><%= @title %></h2>
	<ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver",:image => "appli/save_32.png", :action => "update", :id => @user.id,  :form => "user_form"}%></li>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour",:image => "appli/back_32.png", :action => "list"}%></li>
	</ul>

	<%= errors_for(@user) %>

	<%= form_tag({}, { :name => 'user_form', :class => 'form-horizontal' }) do%>
		
	  <%= render 'form'%>
	
	<% end %>
</div>

