<% @title = "Utilisateurs".trn %>


<h2><%= image_tag("appli/48/user.png", {:alt => @title, :align => "middle"}) %>&nbsp;<%= @title %></h2>
<ul>
	<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Exporter".trn,:image => "appli/32/excel.png", :action => "export_csv", :form => "user_list_form"}%></li>
	<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Effacer".trn,:image => "appli/32/delete.png", :action => "destroy", :form => "user_list_form", :checkbox => "true", :check => "true"}%></li>
	<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Nouveau".trn,:image => "appli/32/add.png", :action => "new"} %></li>
</ul>


<!-- Search -->
<%= render :partial => 'shared/search' %>
	

<!-- Error messages -->	
<%= errors_for(flash[:errors_destroy], "delete").html_safe if flash[:errors_destroy] %>

<%= form_tag({ :action => 'new' }, { :name => 'user_list_form'}) do%>

<!-- Data table -->
<div id="user_div">
  <%= render :partial => 'list' %>
</div>



<% end %>

