<% @title = "Connexion" %>
<div class="jumbotron">
	    <h2><%= image_tag('appli/padlock_32.png', {:alt => @title, :align => "middle"}) %> <%= @title %></h2>

	<%= form_tag({}, { :name => 'login_form', :class => "form-horizontal" }) do %>

		<div class="control-group">
		    <label class="control-label" for="user_mail">Mail/Pseuso : </label>
		    <div class="controls">
				<%= text_field "user", "mail", :size => 50, :maxlength => 50 %>
			</div>
		</div>
		<div class="control-group">  
		    <label class="control-label" for="user_password">Mot de passe : </label>
		    <div class="controls">
				<%= password_field "user", "password", :size => 50, :maxlength => 50 %>
			</div>
		</div>
		<div class="control-group">  
		    <div class="controls btn btn-default">
				<%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Se connecter",:image => "appli/padlock_32.png", :controller => 'es_users',:action => 'login_connect', :form => "login_form"}%>
			</div>
		</div>

	<% end %>


</div>


