<% @title = "Modification du mail".trn %>
<div class="cadre bg-primary">
    <h2><%= image_tag('appli/32/lock.png', {:alt => @title, :align => "middle"}) %>&nbsp;<%= @title %></h2>

	<%= errors_for(@user) %>

	<%= form_tag({:controller => 'es_users',:action => 'mail_update'}, { :name => 'mail_form', :class => "form-horizontal"  }) do %>

	    <h4><%= field_description "Données obligatoires".trn, true %></h4>
		<div class="form-group">  
		    <label class="col-sm-4 control-label" for="user_mail"><%="Mail actuel".trn%> : </label>
		    <div class="col-sm-7">
				<p class="form-control-static"><%= @user.mail %></p>
			    <div class="btn btn-default">
					<%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Tester votre mail actuel".trn,:fa => "fa-envelope-o", :controller => "es_users", :action => "test_mail" }%>
				</div>

			</div>
		</div>
		<div class="form-group">  
		    <label class="col-sm-4 control-label" for="user_newmail"><%= field_description "", true %> <%="Nouveau mail".trn%> : </label>
		    <div class="col-sm-7">
				<%= email_field "user", "newmail", :maxlength => 60, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">  
		    <div class="col-md-offset-4">
				<p><%="Un mail d'activation vous sera automatiquement envoyé".trn%></p>
				<p><%="L'ancien mail reste valide jusqu'à l'activation du nouveau".trn%></p>
			</div>
		</div>

	    <div class="btn btn-default">
			<%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/32/ok.png", :form => "mail_form" }%>
		</div>

	<% end %>

</div>


