<% @title = "Nouvelle inscription" %>
<div class="hero-unit">
    <h2><%= image_tag('appli/user_48.png', {:alt => @title, :align => "middle"}) %> <%= @title %></h2>

	<%= errors_for(@user) %>

	<%= form_tag({:controller => 'users',:action => 'create'}, { :name => 'user_form', :class => 'form-horizontal' }) do %>
		  <h4><%= field_description "Données obligatoires", true %></h4>
		  <div class="control-group">
		    <label for="user_pseudo" class="control-label">Speudo : </label>
			<div class="controls">
				<%= text_field "user", "pseudo", :size => 60, :maxlength => 60 %>
		    </div>
		  </div>
		  <div class="control-group">
		    <label for="user_name" class="control-label">Nom : </label>
			<div class="controls">
				<%= text_field "user", "name", :size => 60, :maxlength => 60 %>
				<%= field_description "", true %>
		    </div>
		  </div>
		  <div class="control-group">
		    <label for="user_firstname" class="control-label">Prénom : </label>
			<div class="controls">
				<%= text_field "user", "firstname", :size => 60, :maxlength => 60 %>
				<%= field_description "", true %>
		    </div>
		  </div>
		  <div class="control-group">
		    <label for="user_mail" class="control-label">E-mail : </label>
			<div class="controls">
				<%= email_field "user", "mail", :size => 60, :maxlength => 60 %>
				<%= field_description "", true %>
		    </div>
		  </div>
		  <div class="control-group">
		    <label for="user_password1" class="control-label">Mot de passe : </label>
			<div class="controls">
				<%= password_field "user", "password1", :size => 12, :maxlength => 12 %>
				<%= field_description "", true %>
		    </div>
		  </div>
		  <div class="control-group">
		    <label for="user_password2" class="control-label">Mot de passe (validation) : </label>
			<div class="controls">
				<%= password_field "user", "password2", :size => 12, :maxlength => 12 %>
				<%= field_description "", true %>
		    </div>
		  </div>


	<% end %>

	<ul>
		<li class="btn"><%= render :partial => 'shared/goto_menu_item', :locals => { :controller => 'es_users',:action => 'create', :image => "appli/process_32.png", :text => "S'inscrire", :form => "user_form"}%></li>
	</ul>

</div>


