<% @title = "Modification du mot de passe".trn %>
<div class="cadre bg-primary">
    <h2><%= image_tag('appli/padlock_32.png', {:alt => @title, :align => "middle"}) %>&nbsp;<%= @title %></h2>

	<%= errors_for(@user) %>

	<%= form_tag({:controller => 'es_users',:action => 'password_update'}, { :name => 'password_form', :class => "form-horizontal"  }) do %>

	    <h4><%= field_description "Données obligatoires".trn, true %></h4>
		<div class="form-group">  
		    <label class="col-sm-4 control-label" for="user_oldpassword"><%= field_description "", true %> <%="Ancien mot de passe".trn%> : </label>
		    <div class="col-sm-4">
				<%= password_field "user", "oldpassword", :maxlength => 12, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">  
		    <label class="col-sm-4 control-label" for="user_password1"><%= field_description "", true %> <%="Nouveau mot de passe".trn%> : </label>
		    <div class="col-sm-4">
				<%= password_field "user", "password1", :maxlength => 12, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">  
		    <label class="col-sm-4 control-label" for="user_password2"><%= field_description "", true %> <%="Validation du mot de passe".trn%> : </label>
		    <div class="col-sm-4">
				<%= password_field "user", "password2", :maxlength => 12, :class => "form-control" %>
			</div>
		</div>


		<div class="form-group">  
		    <div class="col-md-offset-4 btn btn-default">
				<%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/process_32.png", :form => "password_form" }%>
			</div>
		</div>

	<% end %>

</div>


