<% @title = "Récupération du mot de passe".trn %>
<div class="cadre bg-primary">
    <h2><%= image_tag('appli/32/lock.png', {:alt => @title, :align => "middle"}) %>&nbsp;<%= @title %></h2>

	<%= form_tag({:controller => 'users',:action => 'password_recovery'}, { :name => 'password_form', :class => "form-horizontal" }) do %>

		<div class="form-group">
		    <label class="col-sm-4 control-label" for="user_mail"><%="E-mail".trn%> : </label>
		    <div class="col-sm-8">
				<%= email_field "user", "mail",:maxlength => 60, :class => "form-control" %>
				<p><%="Un mail vous sera automatiquement envoyé".trn%></p>
			</div>
		</div>
		
	    <div class="btn btn-default">
			<%= render :partial => 'shared/goto_menu_item', :locals => {:controller => 'es_users',:action => 'password_recovery', :image => "appli/32/ok.png", :text => "Envoyer".trn, :form => "password_form"}%>
		</div>
	<% end %>

</div>


