<!-- Data table header and content -->
<table cellpadding="4" width="100%" class='table'>
  <tr>
	<th><%= sort_link_remote :text => "Nom du module".trn, :column => "module_name", :controller =>  "es_modules", :action => 'list'%></th>
    <th><%="Version".trn%></th>
  </tr>
  <%= render :partial => 'es_modules/list_item', :collection => @modules %>
</table>

<%= will_paginate @modules, :params => params, :previous_label => '<< ' + "Précédent".trn, :next_label => "Suivant".trn + ' >>' %>
<%= page_entries_info @modules, :model => "module".trn %>

