<% @title = "Gestion des modules".trn %>

<div class="center-menu">
    <h2><%= image_tag("appli/48/setup.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
	
	<!-- Search -->
	<%= render :partial => 'shared/search' %>
	
	<div class="clearer"></div>	
</div>

<!-- Error messages -->	
<%= errors_for(flash[:errors_destroy], "delete").html_safe if flash[:errors_destroy] %>

<%= form_tag({ :action => 'new' }, { :name => 'module_list_form'}) do%>
	<!-- Data table -->
	<div id="module_div">
	  <%= render :partial => 'list' %>
	</div>
<% end %>

