<% @title = "Paramétrage du module %{module_name}".trn(:module_name => @module.module_name) %>



    <h2><%= image_tag('appli/48/setup.png', {:alt => @title, :align => "middle"}) %><%= @title %></h2>
	<ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/32/save_data.png", :action => "update", :name => @module.module_name,  :form => "setup_form"}%></li>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/32/arrow_left.png", :action => "list"}%></li>
	</ul>

	<!-- Error messages -->
	<%= errors_for(@module) %>

	<%= form_tag({ :action => 'update', :name => @module.module_name}, { :name => 'setup_form' , :class => 'form-horizontal'}) do%>
	
	  <%= render 'form' %>

	<% end %>

