<%= form_tag({}, { :name => 'admin_form',:class => 'form-horizontal'}) do%>

	  <div class="form-group">
	    <label class="col-sm-3 control-label"><%="Musique installée".trn%> :</label>
		<div class="col-sm-5">
	      	<%= easy_tag('label',:label => @musique||"Pas de musique".trn, :style => "background-color:inherit;") %>
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="admin_musique" class="col-sm-3 control-label"><%="Nouvelle musique".trn%> : </label>
		<div class="col-sm-5">
			<%= select('admin', 'musique', DirContent.get_sound_for_site, {:selected => @musique, :include_blank => "Pas de musique".trn}, :ajax_action => "wizard_musique_preview", :class => "form-control") %>
	    </div>
		<div class="col-sm-3 ">
			<%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn, :action => "wizard_choose_musique",  :form => "admin_form",:class_btn => 'btn btn-default'}%>
	    </div>	    	    
	    
	  </div>

	<p>
		<%dir_manager = DirManager.find_by_name('Musiques du site')
		  if dir_manager%>
			<%="Vous pouvez également ajouter vous-même".trn%> <%=link_to("des musiques".trn,{:controller => "dir_managers", :action => "explorer", :id => dir_manager.id})%>.
			<br>
		<%end%>	
		<%="A tout moment vous pouvez quitter cet assistent ou y revenir.".trn%></p>
	</p>

<% end %>

	<script>
		initajaxplus();			
	</script>
