	  <h3><%="Modification de la partie libre '%{name}'".trn(:name => @part.name)%></h3> 
	  <div class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver cette partie".trn,:fa => "fa-save", :action => "#",:html_option => {:id => "sauver_tinymce"}}%></div>
	  <%@no_save,@no_test='Y','Y' # pour ne pas avoir le bouton save dans le partial ou se trouve le tinyMce%>
	  <%= render :partial => 'tinymce/content' %>

<script>

	$(document).ready(function() {


		$('#sauver_tinymce').on('click', function(form){
		    // save TinyMCE instances before serialize
			//Ne pas supprimer, même si ailleurs il n'y en a pas besoin
			try {
			 	tinyMCE.triggerSave();
			} catch(err) {}


		    var data = $("#form_tinymce").serialize() + "&content_detail_id=<%=@content_detail_id%>&id_button=" + $(this).attr('id');
		    $.ajax({
		        type:       'POST',
		        cache:      false,
		        url:        '/tinymce/test_tinymce',
		        data:       data,
		        dataType:   "json"
		    	}).done(function() {
					$.ajax({
				        url: "/es_templates/refresh_design/<%=@template.id%>",
				        dataType: 'script'
				    });	    
				});
			   	return false;
		});

	});
	
</script>
