<%empty = list_line_item.content_empty? %>
<tr class="<%= cycle("row0", "row1") %>">
  <td>
  	<div class='btn btn-default'>
	<%=
		link_to("<i class='glyphicon glyphicon-wrench #{list_line_item.has_dyn_attributes? ? 'red' : ''}'></i>".html_safe, 
					url_for(:controller => "es_contents", :action => "edit_properties", :id => list_line_item['id'], :element => "EsTemplateLine"), 
					:title =>"Paramétrage de la ligne".trn)
	%>
  	</div>
	&nbsp;
  	<%= list_line_item.num.to_i%>
  </td>
  <td>
	<%list_line_item.es_template_cols.each do |c| %>
		<p>
		  	<div class='btn btn-default'>
				<%=link_to("<i class='glyphicon glyphicon-wrench #{c.has_dyn_attributes? ? 'red' : ''}'></i>".html_safe, 
							url_for(:controller => "es_contents", :action => "edit_properties", :id => c.id, :element => "EsTemplateCol"), 
							:title =>"Paramétrage de cette colonne".trn)%>
		  	</div>
			&nbsp;
			<%=c.description.blank? ? "" : c.description + " : "%><%=c.width %>	
		</p>
	<%end%>
  </td>
  <td>
	<%= image_tag(empty ? "appli/32/ok.png" : "appli/32/nok.png", 
						    {:alt => "", :align => "middle", :border => "0",
						    :class => "app_tooltip", :title => empty ? "Aucune partie dans cette ligne".trn : "Des parties composent cette ligne".trn, "data-placement" => "left"}) %>  
  </td>
  <td>
	
	<%
		tmp_links = []


		if empty 
			tmp_links << content_tag("div", link_to("<i class='glyphicon glyphicon-remove-sign'></i>".html_safe, 
						url_for(:action => "destroy_line", :id => list_line_item['id']), 
						:confirm =>"Voulez vous vraiment supprimer cette ligne de template ?".trn,
						:title =>"Supprimer cette ligne".trn), :class => 'btn btn-default')
		end			

	    if list_line_item.num > 1
			 tmp_links << content_tag("div", link_to("<i class='glyphicon glyphicon-arrow-up'></i>".html_safe, { :action => 'line_up', :id => list_line_item.id},:title => "Remonter cette ligne".trn), :class => 'btn btn-default')
		end
		if list_line_item.num < list_line_item.es_template.es_template_lines.count 
			 tmp_links << content_tag("div", link_to("<i class='glyphicon glyphicon-arrow-down'></i>".html_safe, { :action => 'line_down', :id => list_line_item.id},:title => "Descendre cette ligne".trn), :class => 'btn btn-default')
		end
	%>
	<%=tmp_links.join('&nbsp;').html_safe%>

  </td>
  
</tr>
