<% @title = "Dessiner le template %{name}".trn(:name=>@template.name) %>

<div>
	<h2><%= image_tag("appli/48/setup.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
    <ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sortir".trn,:image => "appli/32/arrow_left.png", :action => "list"}%></li>
    </ul>
	<%= errors_for(@template) %>

	<%= form_tag({ :action => 'create_complete'}, { :name => 'template_form', :class => 'form-horizontal' }) do%>
		
		  <%= render :partial => 'form_design' %>
	
	<% end %>
</div>
