<% @title = "Nouvelle partie".trn %>

<div class="cadre bg-primary">
	<h2><%= image_tag("appli/setup_48.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
    <ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/save_32.png", :action => "create_part",
																							    :form => "template_part_form", 
																							    :param_goto => {:template_id => @template.id}
																							    }%></li>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/back_32.png", :action => "parts", :id => @template.id}%></li>
    </ul>
	<%= errors_for(@part, "lors de la création d'une partie".trn) %>

	<%= form_tag({ :action => 'create'}, { :name => 'template_part_form', :class => 'form-horizontal' }) do%>
		
		  <%= render :partial => 'form_part' %>
	
	<% end %>
</div>
