<% @title = "Nouveau contenu".trn %>

<div class="cadre bg-primary">
	<h2><%= image_tag("appli/48/setup.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
    <ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Sauver".trn,:image => "appli/32/save_data.png", :action => "create_content", :id => @part.id,
																							    :form => "template_part_form"
																							    }%></li>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/32/arrow_left.png", :action => "parts", :id => @template.id}%></li>
    </ul>
	<%= errors_for(@part, "lors de la création du contenu".trn) %>

	<%= form_tag({ :action => 'create'}, { :name => 'template_part_form', :class => 'form-horizontal' }) do%>
		
		  <%= render :partial => 'form_content' %>
	
	<% end %>
</div>
