<% @title = "Gestion des parties du template %{name}".trn(:name=>@template.name) %>

<div class="center-menu">
    <h2><%= image_tag("appli/setup_48.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
	
<ul>
	<%if @template.is_dynamic%>
	<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Nouvelle partie".trn,:image => "appli/new_32.png", :action => "new_part", :id => @template.id} %></li>
	<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Placer les parties".trn,:image => "appli/execute_32.png", :action => "design_parts", :id => @template.id} %></li>
	<%end%>
	<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/back_32.png", :action => "list"}%></li>
</ul>
	
	<!-- Search -->
	<%= render :partial => 'shared/search', :locals => {:action => "parts"}%>
	
	<div class="clearer"></div>	
</div>

<!-- Error messages -->	
<%= errors_for(flash[:errors_destroy], "lors de la suppression d'une partie".trn).html_safe if flash[:errors_destroy] %>

<%= form_tag({ :action => 'new_part' }, { :name => 'template_part_form'}) do%>
	<!-- Data table -->
	<div id="template_part_div">
	  <%= render :partial => 'list_part' %>
	</div>
<% end %>

