<div class="row-fluid">
	<div class="span2">
	</div>
	<div class="span10">
		<h1>Page d'exemples</h1>
	</div>
</div>
<BR>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Citation
	</div>
	<div class="span10">
		<%=generate_citation(EsMediaFile.find(:first,:conditions => ["name=?","Citation site"]))%>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Liste d'images
	</div>
	<div class="span10">
		<%= generate_image_list(EsMediaFile.find(:all,:conditions => ["media_type=? and sequence <= ?","image",6]))%>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Carouselle
	</div>
	<div class="span10">
		<%= generate_carousel(EsMediaFile.find(:all,:conditions => ["media_type=?","carousel"]))	%>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Menu côté
	</div>
	<div class="span10">
		<div class="well sidebar-nav">
			<%= generate_menu("sidebar") %>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Blog
	</div>
	<div class="span10">
		<%= generate_blog(EsMediaFile.find(:all,:conditions => ["media_type = ? and parent_id is null","blog"]))%>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Adresse
	</div>
	<div class="span10">
		<%=substitute_string("<address><p>[setup.address_title]</p><p><strong>[setup.address_nom]</strong><br>[setup.address_line1]<br>[setup.address_line2]<br></address>")%>	
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Menu navigation
	</div>
	<div class="span10">
		<div class="navbar navbar-fluid-top">
		  <div class="navbar-inner">
			<div class="container-fluid nav-collapse">
				<%= generate_menu("navigation") %>
			</div>
		  </div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Lorem ipsum
	</div>
	<div class="span10">
		<%=get_lorem%>	
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Menu déroulant
	</div>
	<div class="span10">
		<%=generate_menu("Dropdown trigger")%>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Collapse
	</div>
	<div class="span10">
		<%=generate_collapse(EsMediaFile.find(:all,:conditions=> ["media_type = 'collapse'"]))%>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Menu vertical
	</div>
	<div class="span10">
		<%=generate_menu("vertical")%>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Menu Sheet
	</div>
	<div class="span10">
		<%=generate_menu("sheet")%>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Vidéo
	</div>
	<div class="span10">
		<%=generate_video(EsMediaFile.find_by_name("video1"))%>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Alerte
	</div>
	<div class="span10">
		<%=generate_alert("You successfully read this important alert message.", "Well done!","alert-success")%>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Fil conducteur
	</div>
	<div class="span10">
		<%=generate_breadcrumb(["Home"],["Setup","#"],["Library","#"],"Data")%>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 alert alert-info">
		Tableau
	</div>
	<div class="span10">
	    <table class="table table-bordered table-striped">
	   		<tr class='info'>
	   			<th>Titre 1</th>
	   			<th>Titre 2</th>
	   			<th>Titre 3</th>
	   		</tr>
	   		<tr>
	   			<td>line 1 col 1</td>
	   			<td>line 1 col 2</td>
	   			<td>line 1 col 3</td>
	   		</tr>
	   		<tr>
	   			<td>line 2 col 1</td>
	   			<td>line 2 col 2</td>
	   			<td>line 2 col 3</td>
	   		</tr>
	   		<tr>
	   			<td>line 3 col 1</td>
	   			<td>line 3 col 2</td>
	   			<td>line 3 col 3</td>
	   		</tr>
	    </table>
	</div>
</div>

