<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-10">
		<h1>Page d'exemples</h1>
	</div>
</div>
<BR>
	
<div class="row">
	<div class="col-md-2 alert alert-info">
		Language&nbsp;
		<%= get_template_part("part_language") %> 
	</div>
	<div class="col-md-10">
		<h3>La langue est  : <%=Rails.application.config.default_locale_easysite.to_s%></h3>
		<p><kbd>Texte existant</kbd> : <%='Texte existant'.trn%></p>
		<p><kbd>Texte manquant</kbd> : <%='Texte manquant'.trn%></p>
		<p><kbd>Texte manquant avec défaut</kbd> : <%='Texte manquant'.trn({:default => 'voici un texte par défaut'})%></p>
		<p><kbd>Texte FR manquant</kbd> : <%='Texte FR manquant'.trn%></p>
		<p><kbd>Texte EN manquant</kbd> : <%='Texte EN manquant'.trn%></p>
		<p><kbd>Texte existant avec paramètre</kbd> : <%="Bonjour".trn({:param1 => 'toto'})%></p>
		<p><kbd>Texte manquant avec paramètre</kbd> : <%="Bonsoir".trn({:param1 => 'toto'})%></p>
	</div>
</div>
	
<div class="row">
	<div class="col-md-2 alert alert-info">
		Drag and drop
	</div>


	<div class="col-md-10  drag_drop_template">

		<div class="col-md-4">
			<div id='template_part1'>
				<div class="label label-info">Ceci est le div 01</div>
				<div>Ceci est le texte explicatif du contenu du div 01</div>
			</div>
			<div id='template_part2'>
				<div class="label label-info">Ceci est le div 02</div>
				<div>Ceci est le texte explicatif du contenu du div 02</div>
			</div>
		</div>
		<div class="col-md-4">
			<div id='template_part3'>
				<div class="label label-info">Ceci est le div 03</div>
				<div>Ceci est le texte explicatif du contenu du div 03</div>
			</div>
		</div>
		<div class="col-md-4">
			<div id='template_part4'>
				<div class="label label-info">Ceci est le div 04</div>
				<div>Ceci est le texte explicatif du contenu du div 04</div>
			</div>
			<div id='template_part5'>
				<div class="label label-info">Ceci est le div 05</div>
				<div>Ceci est le texte explicatif du contenu du div 05</div>
			</div>
		</div>

	</div>
</div>
<script>
/*	$(document).ready(function() {
		$( ".d0,.d1" ).sortable();		
	});*/
</script>

<BR>	
	
<div class="row">
	<div class="col-md-2 alert alert-info">
		Bouton slide
	</div>

	<div class="col-md-10">
		Essayez les boutons 'Gauche' et 'Haut'
		<div class='alert-info panel_t_slide' alt='Haut'>
			<span>Ceci est un div à mettre en haut avec la class panel_t_slide ou panel_t_m_slide</span>
		</div>
		<div class='alert-info panel_l_slide' alt='Gauche'>
			<span>Ceci est un div à mettre à gauche avec la class panel_l_slide ou panel_l_m_slide</span>
		</div>
	</div>


</div>
	
	
<div class="row">
	<div class="col-md-2 alert alert-info">
		<span class='btn btn-default' id='btn_easy_tag'>Easy_tag</span>
	</div>

	<div class="col-md-10">
	<%= form_tag({},{:id => "form_easy", :class=> "form-inline"}) do%>
		  aide : <%= easy_tag('help') %>
		  libellé : <%= easy_tag('label',:label => "Ceci est un label",:help=>true) %>
		  <%= easy_tag('text',:instance => "test", :field => "field1",:with_label => "Ceci est un texte",:value=> "choix 2", :help=>true) %>
		  liste : <%= easy_tag('list',:instance => "test", :field => "field2",:value_list_array => ["choix 1","choix 2","choix 3"],:selected_value=> "choix 2",:number_of_line=>5,:multiple => true,:help=>true) %>
		  information cachée : <%= easy_tag('hidden',:instance => "test", :field => "field3",:value => "text caché",:help=>true) %>
		  liste avec collection : <%= easy_tag('list_collection',:instance => "test", :field => "field4",:collection => EsSite.all,:value_method => "id",:text_method => "code",:selected_value=> 2,:help=>true) %>
		  coche : <%= easy_tag('check_box',:instance => "test", :field => "field5",:value => "N",:help=>true) %>
		  <%= easy_tag('long_text',:instance => "test", :field => "field6",:with_label => "Long texte",:value=> "Ceci est un long text",:cols=> 100, :help=>true) %>
		  <%= easy_tag('radio_button',:instance => "test", :field => "field7",:value => "choix 2",:read_only => true,:labels => ["choix 1","choix 2","choix 3","choix 4"],:with_label => "Radio bouton",:mandatory=>true,:help=>true) %>
		  obligatoire : <%= easy_tag('mandatory',:label => "Les zones obligatoires",:help=>true) %>
		  entier : <%= easy_tag('integer',:instance => "test", :field => "field8",:help=>true) %>
		  décimale : <%= easy_tag('decimal',:instance => "test", :field => "field9",:help=>true) %>
		  heure : <%= easy_tag('time',:instance => "test", :field => "field10",:help=>true) %>
		  date : <%= easy_tag('date',:instance => "test", :field => "field11",:help=>true) %>
		  date et heure : <%= easy_tag('date_time',:instance => "test", :field => "field12",:help=>true) %>
		  fichier : <%= easy_tag('file',:instance => "test", :field => "field13",:style => "width:50%;",:option_file => "public/files;/upload/content;jpg,png,pdf,[DIR],[EMPTY]", :help=>true) %>
		  police : <%= easy_tag('font',:instance => "test", :field => "field14",:help=>true) %>
		  couleur : <%= easy_tag('color',:instance => "test", :field => "field15",:help=>true) %>
	<% end %>
	</div>


</div>

<script>
	$(document).ready(function() {
		$('#btn_easy_tag').on("click",function(e) {  
			var data = $("#form_easy").serialize();
			$.ajax({
	        url: '/sites/refresh_page',
	        data:       data,
	        dataType: 'script',
		    });	    
		    return false;
		}
		
		);	
	});
	init_datepicker();	
	init_inputmask();		
</script>


<div class="row">
	<div class="col-md-2 alert alert-info">
		Citation
	</div>
	<div class="col-md-10">
		<%=generate_citation(EsMediaFile.find(:first,:conditions => ["name=?","Citation site"]))%>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Liste d'images
	</div>
	<div class="col-md-10">
		<%= generate_image_list(EsMediaFile.find(:all,:conditions => ["media_type=? and sequence <= ?","image",6]))%>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Carouselle
	</div>
	<div class="col-md-10">
		<%= generate_carousel(EsMediaFile.find(:all,:conditions => ["media_type=?","carousel"]))	%>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Menu côté
	</div>
	<div class="col-md-10">
		<div class="well sidebar-nav">
			<%= generate_menu("sidebar") %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Blog
	</div>
	<div class="col-md-10">
		<%= generate_blog(EsMediaFile.find(:all,:conditions => ["media_type = ? and parent_id is null","blog"]))%>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Adresse
	</div>
	<div class="col-md-10">
		<%=substitute_string("<address><p>[setup.address_title]</p><p><strong>[setup.address_nom]</strong><br>[setup.address_line1]<br>[setup.address_line2]<br></address>")%>	
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Menu navigation
	</div>
	<div class="col-md-10">
		<%= generate_menu("navigation") %>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Lorem ipsum
	</div>
	<div class="col-md-10">
		<%=get_lorem%>	
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Menu déroulant
	</div>
	<div class="col-md-10">
		<%=generate_menu("Dropdown trigger")%>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Collapse
	</div>
	<div class="col-md-10">
		<%=generate_collapse(EsMediaFile.find(:all,:conditions=> ["media_type = 'collapse'"]))%>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Menu vertical
	</div>
	<div class="col-md-10">
		<%=generate_menu("vertical")%>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Menu Sheet
	</div>
	<div class="col-md-10">
		<%=generate_menu("sheet")%>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Vidéo
	</div>
	<div class="col-md-10">
		<%=generate_video(EsMediaFile.find_by_name("video1"))%>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Alerte
	</div>
	<div class="col-md-10">
		<%=generate_alert("You successfully read this important alert message.", "Well done!","alert-success")%>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Fil conducteur
	</div>
	<div class="col-md-10">
		<%=generate_breadcrumb(["Home"],["Setup","#"],["Library","#"],"Data")%>
	</div>
</div>
<div class="row">
	<div class="col-md-2 alert alert-info">
		Tableau
	</div>
	<div class="col-md-10">
	    <table class="table table-bordered table-striped">
	   		<tr class='info'>
	   			<th>Titre 1</th>
	   			<th>Titre 2</th>
	   			<th>Titre 3</th>
	   		</tr>
	   		<tr>
	   			<td>line 1 col 1</td>
	   			<td>line 1 col 2</td>
	   			<td>line 1 col 3</td>
	   		</tr>
	   		<tr>
	   			<td>line 2 col 1</td>
	   			<td>line 2 col 2</td>
	   			<td>line 2 col 3</td>
	   		</tr>
	   		<tr>
	   			<td>line 3 col 1</td>
	   			<td>line 3 col 2</td>
	   			<td>line 3 col 3</td>
	   		</tr>
	    </table>
	</div>
</div>

